<f:for each="{options}" as="option">
    <f:if condition="{search.region} == {option.category.uid}">
        <f:then><option value="{option.category.uid}" selected="selected">{level}{option.category.title}</option></f:then>
        <f:else><option value="{option.category.uid}">{level}{option.category.title}</option></f:else>
    </f:if>

    <if condition="{option.children}">
        <f:alias map="{sublevel: '-{level}'}">
            <f:render partial="Trip/CategoryOptions" arguments="{options:option.children, level:sublevel}"/>
        </f:alias>
    </if>
</f:for>