<div class="row" xmlns:f="http://www.w3.org/1999/html">
    <f:comment>
        http://osvaldas.info/image-lightbox-responsive-touch-friendly
        Das nehmen wir für die Lightbox gallery
    </f:comment>
    <f:if condition="{trip.images -> f:count()}==1">
        <f:for each="{trip.images}" as="image" iteration="i">
            <div class="col-xs-12">
                <a href="{f:uri.image(src: image.originalResource.publicUrl, width: '800c', height: '600c')}" data-imagelightbox="t"><f:image width="800c" height="600c" src="{image.originalResource.publicUrl}" alt="{image.originalResource.title}" class="img-responsive" style="margin-bottom: 18px;"/></a>
            </div>
        </f:for>
    </f:if>

    <f:if condition="{trip.images -> f:count()}==2">
        <f:for each="{trip.images}" as="image" iteration="i">
            <div class="col-xs-6">
                <a href="{f:uri.image(src: image.originalResource.publicUrl, width: '800c', height: '600c')}" data-imagelightbox="t"><f:image width="400c" height="300c" src="{image.originalResource.publicUrl}" alt="{image.originalResource.title}" class="img-responsive" style="margin-bottom: 18px;"/></a>
            </div>
        </f:for>
    </f:if>

    <f:if condition="{trip.images -> f:count()}==3">
        <f:for each="{trip.images}" as="image" iteration="i">
            <f:if condition="{i.index} == 0"><div class="col-xs-8"></f:if>
            <f:if condition="{i.index} == 0"><a href="{f:uri.image(src: image.originalResource.publicUrl, width: '800c', height: '600c')}" data-imagelightbox="t"><f:image width="800c" height="600c" src="{image.originalResource.publicUrl}" alt="{image.originalResource.title}" class="img-responsive" style="margin-bottom: 18px;"/></a></f:if>
            <f:if condition="{i.index} == 0"></div></f:if>
            <f:if condition="{i.index} == 1"><div class="col-xs-4"></f:if>
            <f:if condition="{i.index} > 0"><a href="{f:uri.image(src: image.originalResource.publicUrl, width: '800c', height: '600c')}" data-imagelightbox="t"><f:image width="400c" height="300c" src="{image.originalResource.publicUrl}" alt="{image.originalResource.title}" class="img-responsive" style="margin-bottom: 18px;"/></a></f:if>
            <f:if condition="{i.index} == 2"></div></f:if>
        </f:for>
    </f:if>

    <f:if condition="{trip.images -> f:count()}==4">
        <f:for each="{trip.images}" as="image" iteration="i">
            <f:if condition="{i.index} == 0"><div class="col-xs-9"></f:if>
            <f:if condition="{i.index} == 0"><a href="{f:uri.image(src: image.originalResource.publicUrl, width: '800c', height: '600c')}" data-imagelightbox="t"><f:image width="800c" height="600c" src="{image.originalResource.publicUrl}" alt="{image.originalResource.title}" class="img-responsive" style="margin-bottom: 18px;"/></a></f:if>
            <f:if condition="{i.index} == 0"></div></f:if>
            <f:if condition="{i.index} == 1"><div class="col-xs-3"></f:if>
            <f:if condition="{i.index} > 0"><a href="{f:uri.image(src: image.originalResource.publicUrl, width: '800c', height: '600c')}" data-imagelightbox="t"><f:image width="400c" height="300c" src="{image.originalResource.publicUrl}" alt="{image.originalResource.title}" class="img-responsive" style="margin-bottom: 18px;"/></a></f:if>
            <f:if condition="{i.index} == 3"></div></f:if>
        </f:for>
    </f:if>

    <f:if condition="{trip.images -> f:count()}==5">
        <f:for each="{trip.images}" as="image" iteration="i">
            <f:if condition="{i.index} == 0"><div class="col-xs-12"></f:if>
            <f:if condition="{i.index} == 0"><a href="{f:uri.image(src: image.originalResource.publicUrl, width: '800c', height: '600c')}" data-imagelightbox="t"><f:image width="800c" height="600c" src="{image.originalResource.publicUrl}" alt="{image.originalResource.title}" class="img-responsive" style="margin-bottom: 18px;"/></a></f:if>
            <f:if condition="{i.index} == 0"></div></f:if>
            <f:if condition="{i.index} > 0"><div class="col-xs-3"></f:if>
            <f:if condition="{i.index} > 0"><a href="{f:uri.image(src: image.originalResource.publicUrl, width: '800c', height: '600c')}" data-imagelightbox="t"><f:image width="400c" height="300c" src="{image.originalResource.publicUrl}" alt="{image.originalResource.title}" class="img-responsive" style="margin-bottom: 18px;"/></a></f:if>
            <f:if condition="{i.index} > 0"></div></f:if>
        </f:for>
    </f:if>
</div>