

    <f:if condition="{trip.type} == 0">
        <span class="icon icon-original" data-toggle="tooltip" data-placement="top" data-original-title="Originaltour"></span>&nbsp;
    </f:if>
    <f:if condition="{trip.type} == 1">
        <span class="icon icon-partner" data-toggle="tooltip" data-placement="top" data-original-title="Partnertour"></span>&nbsp;
    </f:if>

<f:for each="{trip.categories}" as="category" iteration="i">
    <f:if condition="{category.uid} == 78">
        <span class="icon icon-level-01" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'difficulty_level_1')}"></span>&nbsp;
    </f:if>
    <f:if condition="{category.uid} == 79">
        <span class="icon icon-level-02" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'difficulty_level_2')}"></span>&nbsp;
    </f:if>
    <f:if condition="{category.uid} == 80">
        <span class="icon icon-level-03" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'difficulty_level_3')}"></span>&nbsp;
    </f:if>
    <f:if condition="{category.uid} == 81">
        <span class="icon icon-level-04" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'difficulty_level_4')}"></span>&nbsp;
    </f:if>
</f:for>

<f:for each="{trip.categories}" as="category" iteration="i">
    <f:if condition="{category.uid} == 86">
        <span class="icon icon-culture" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'tourtype_kultur')}"></span>&nbsp;
    </f:if>
    <f:if condition="{category.uid} == 85">
        <span class="icon icon-enjoy" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'tourtype_genuss')}"></span>&nbsp;
    </f:if>
    <f:if condition="{category.uid} == 87">
        <span class="icon icon-relax" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'tourtype_bummel')}"></span>&nbsp;
    </f:if>
    <f:if condition="{category.uid} == 83">
        <span class="icon icon-family" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'tourtype_family')}"></span>&nbsp;
    </f:if>
    <f:comment>
        Kurztour hat gar kein Icon
        <f:if condition="{category.uid} == 88">
            <span class="icon icon-enjoy" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'tourtype_genuss')}"></span>&nbsp;
        </f:if>
    </f:comment>
    <f:if condition="{category.uid} == 84">
        <span class="icon icon-sport" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'tourtype_sport')}"></span>&nbsp;
    </f:if>
</f:for>
