
<table class="tx-reisedb" >
	<tr>
		<td>
			<f:translate key="tx_reisedb_domain_model_trip.title" />
		</td>
		<td>
		{trip.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_reisedb_domain_model_trip.code" />
		</td>
		<td>
		{trip.code}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_reisedb_domain_model_trip.description" />
		</td>
		<td>
		{trip.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_reisedb_domain_model_trip.seo_title" />
		</td>
		<td>
		{trip.seoTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_reisedb_domain_model_trip.seo_keywords" />
		</td>
		<td>
		{trip.seoKeywords}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_reisedb_domain_model_trip.seo_description" />
		</td>
		<td>
		{trip.seoDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_reisedb_domain_model_trip.nights" />
		</td>
		<td>
		{trip.nights}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_reisedb_domain_model_trip.type" />
		</td>
		<td>
		{trip.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_reisedb_domain_model_trip.documents" />
		</td>
		<td>
				<f:for each="{trip.documents}" as="file" >
					<a href="{file.originalResource.publicUrl}">
						{file.originalResource.name}
					</a>
				</f:for>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_reisedb_domain_model_trip.images" />
		</td>
		<td>
				<f:for each="{trip.images}" as="image" >
					<f:image src="{image.originalResource.publicUrl}" width="200"/>
				</f:for>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_reisedb_domain_model_trip.map" />
		</td>
		<td>
				<f:image src="{trip.map.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_reisedb_domain_model_trip.is_startour" />
		</td>
		<td>
		{trip.isStartour}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_reisedb_domain_model_trip.short_description" />
		</td>
		<td>
		{trip.shortDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_reisedb_domain_model_trip.verbal_bookable" />
		</td>
		<td>
		{trip.verbalBookable}
		</td>
	</tr>
</table>