<div class="well">

    <div style="background: #E9EEE4; padding: 20px 20px 10px 20px; border-radius: 6px 6px;">
        <f:form action="" class="form-horizontal" method="get">
            <fieldset>
                <!-- Search -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="keyword"><f:translate key="search" /></label>
                    <div class="col-md-5">
                        <f:form.textfield name="search[keyword]" id="keyword" placeholder="{f:translate(key:'search_placeholder')}" value="{search.keyword}" class="form-control autocomplete" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="keyword"><f:translate key="travelperiod" /></label>
                    <div class="col-md-5">
                        <div class="input-daterange input-group" id="datepicker">
                            <f:form.textfield type="text" class="input-sm form-control" placeholder="{f:translate(key:'arrival')}" value="{search.arrival}" name="search[arrival]" />
                            <span class="input-group-addon">{f:translate(key:'bis')}</span>
                            <f:form.textfield type="text" class="input-sm form-control" placeholder="{f:translate(key:'departure')}" value="{search.departure}" name="search[departure]" />
                        </div>
                    </div>
                </div>

                <!-- Select Reiseziel -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectregion">{f:translate(key:'tripdestination')}</label>
                    <div class="col-md-5">
                        <select id="selectregion" name="tx_reisedb_reisedb[search][region]" class="form-control">
                            <option value="">{f:translate(key:'all_regions')}</option>
                            <optgroup label="{f:translate(key:'radwege')}">
                                <f:alias map="{level: '-'}">
                                    <f:render partial="Trip/CategoryOptions" arguments="{options:radwege, level:level, search:search}"/>
                                </f:alias>
                            </optgroup>
                            <optgroup label="{f:translate(key:'regions')}">
                                <f:alias map="{level: '-'}">
                                    <f:render partial="Trip/CategoryOptions" arguments="{options:regionen, level:level, search:search}"/>
                                </f:alias>
                            </optgroup>
                        </select>
                    </div>
                </div>

                <!-- Schwierigkeitsgrad -->
                <div class="form-group">
                    <label class="col-md-4 control-label">{f:translate(key:'difficulty')}</label>
                    <div class="col-md-5">
                        <ul class="tour-level">
                            <li><label class="inactive" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'difficulty_level_1')}">
                                <input type="checkbox" name="tx_reisedb_reisedb[search][difficulty][1]" value="78" autocomplete="off" {f:if(condition: '{search.difficulty.1} == 78', then: 'checked', else: '')}>
                                <div class="icon icon-level-01"></div>
                            </label></li>
                            <li><label class="inactive" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'difficulty_level_2')}">
                                <input type="checkbox" name="tx_reisedb_reisedb[search][difficulty][2]" value="79" autocomplete="off" {f:if(condition: '{search.difficulty.2} == 79', then: 'checked', else: '')}>
                                <div class="icon icon-level-02"></div>
                            </label></li>
                            <li><label class="inactive" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'difficulty_level_3')}">
                                <input type="checkbox" name="tx_reisedb_reisedb[search][difficulty][3]" value="80" autocomplete="off" {f:if(condition: '{search.difficulty.3} == 80', then: 'checked', else: '')}>
                                <div class="icon icon-level-03"></div>
                            </label></li>
                            <li><label class="inactive" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'difficulty_level_4')}">
                                <input type="checkbox" name="tx_reisedb_reisedb[search][difficulty][4]" value="81" autocomplete="off" {f:if(condition: '{search.difficulty.4} == 81', then: 'checked', else: '')}>
                                <div class="icon icon-level-04"></div>
                            </label></li>
                        </ul>
                    </div>
                </div>

                <!-- Tourcharakter -->
                <div class="form-group">
                    <label class="col-md-4 control-label">{f:translate(key:'tourcharakter')}</label>
                    <div class="col-md-5">
                        <ul class="tour-level">
                            <li><label class="inactive" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'tourtype_sport')}">
                                <input type="checkbox" name="tx_reisedb_reisedb[search][type][1]" value="84" autocomplete="off" {f:if(condition: '{search.type.1} == 84', then: 'checked', else: '')}>
                                <div class="icon icon-sport"></div>
                            </label></li>

                            <li><label class="inactive" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'tourtype_genuss')}">
                                <input type="checkbox" name="tx_reisedb_reisedb[search][type][2]" value="85" autocomplete="off" {f:if(condition: '{search.type.2} == 85', then: 'checked', else: '')}>
                                <div class="icon icon-enjoy"></div>
                            </label></li>

                            <li><label class="inactive" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'tourtype_family')}">
                                <input type="checkbox" name="tx_reisedb_reisedb[search][type][3]" value="83" autocomplete="off" {f:if(condition: '{search.type.3} == 83', then: 'checked', else: '')}>
                                <div class="icon icon-family"></div>
                            </label></li>

                            <li><label class="inactive" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'tourtype_bummel')}">
                                <input type="checkbox" name="tx_reisedb_reisedb[search][type][4]" value="87" autocomplete="off" {f:if(condition: '{search.type.4} == 87', then: 'checked', else: '')}>
                                <div class="icon icon-relax"></div>
                            </label></li>

                            <li><label class="inactive" data-toggle="tooltip" data-placement="top" data-original-title="{f:translate(key:'tourtype_kultur')}">
                                <input type="checkbox" name="tx_reisedb_reisedb[search][type][5]" value="86" autocomplete="off" {f:if(condition: '{search.type.5} == 86', then: 'checked', else: '')}>
                                <div class="icon icon-mrt-font2-01-exklusivradeln"></div>
                            </label></li>
                        </ul>
                    </div>
                </div>


                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-5">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary btn-block">{f:translate(key:'search_button')}</button>
                    </div>
                </div>

            </fieldset>
        </f:form>
    </div>
</div>