{namespace m=JAKOTA\Reisedb\ViewHelpers}
<div class="row reise_teaser_list">


    <div class="col-sm-4">
        <f:link.action action="show" pageUid="113" arguments="{trip : trip}" title="{trip.seotitle}">
        <f:if condition="{trip.images}">
            <f:image width="400c" height="300c" src="{trip.images.0.originalResource.publicUrl}" alt="" class="img-responsive"/>
        </f:if>
        <div class="reise_teaser_preis"><f:translate key="fromPrice" /> <span><m:PriceFormat><m:tripFromPrice trip="{trip}"/></m:PriceFormat>,-*</span></div>
        </f:link.action>
    </div>


    <div class="col-sm-8">
        <h3><f:link.action action="show" pageUid="113" arguments="{trip : trip}" >{trip.title}</f:link.action></h3>
        <p class="subline"><span><m:tripDays nights="{trip.nights}"/> / <m:LengthFormat><m:tripLength stations="{trip.stations}"/></m:LengthFormat></span> / {trip.code}</p>
        <p class="description"><f:format.crop maxCharacters="170" append="&nbsp;..." respectWordBoundaries="1"><f:format.stripTags>{trip.description}</f:format.stripTags></f:format.crop></p>
    </div>



</div>