{namespace m=JAKOTA\Reisedb\ViewHelpers}
<div class="reise_teaser {evenOdd}">
    <f:link.action action="show" pageUid="113" arguments="{trip : trip}" title="{trip.seotitle}">
        <f:if condition="{trip.images}">
            <f:image width="400c" height="300c" src="{trip.images.0.originalResource.publicUrl}" alt="{trip.seotitle}" class="img-responsive" title="{trip.seotitle}"/>
        </f:if>

        <div class="reise_teaser_preis"><f:translate key="fromPrice" /> <span><m:PriceFormat><m:tripFromPrice trip="{trip}"/></m:PriceFormat>,-*</span></div>
        <div class="h3">{trip.title} »</div>

        <p class="subline"><span><m:tripDays nights="{trip.nights}"/> / <m:LengthFormat><m:tripLength stations="{trip.stations}"/></m:LengthFormat></span> {trip.code}</p>
    </f:link.action>
    <p class="description">
        <f:format.crop maxCharacters="170" append="&nbsp;..." respectWordBoundaries="1"><f:format.stripTags>{trip.description}</f:format.stripTags></f:format.crop>
        <f:link.action action="show" pageUid="113" arguments="{trip : trip}">mehr »</f:link.action>
    </p>
</div>