<f:if condition="{trip.code} == 'MEC 04'">
    <!-- Adform Tracking Code BEGIN -->
    <script type="text/javascript">
        window._adftrack = {
            pm: 550843,
            divider: encodeURIComponent('|'),
            pagename: encodeURIComponent('Ostseeradweg - Warnemuende Rostock - Stralsund')
        };
        (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
    </script>
    <noscript>
        <p style="margin:0;padding:0;border:0;">
            <img src="https://track.adform.net/Serving/TrackPoint/?pm=550843&ADFPageName=Ostseeradweg%20-%20Warnemuende%20Rostock%20-%20Stralsund&ADFdivider=|" width="1" height="1" alt="" />
        </p>
    </noscript>
    <!-- Adform Tracking Code END -->
</f:if>