<f:if condition="{configuration.insertAbove}">
	<f:render section="paginator" arguments="{pagination: pagination, configuration: configuration}" />
</f:if>

<f:renderChildren arguments="{contentArguments}" />

<f:if condition="{configuration.insertBelow}">
	<f:render section="paginator" arguments="{pagination: pagination, configuration: configuration}" />
</f:if>

<f:section name="paginator">
	<nav>
		<ul class="pagination">
		<f:if condition="{pagination.previousPage}">
			<f:then>
				<li>
					<f:if condition="{pagination.previousPage} > 1">
						<f:then>
							<f:widget.link arguments="{currentPage: pagination.previousPage}" addQueryStringMethod="{configuration.addQueryStringMethod}" additionalAttributes="{aria-label:'Previous'}"><span aria-hidden="true"><span class="glyphicon glyphicon-chevron-left"></span></span></f:widget.link>
						</f:then>
						<f:else>
							<f:widget.link addQueryStringMethod="{configuration.addQueryStringMethod}" additionalAttributes="{aria-label:'Previous'}"><span aria-hidden="true"><span class="glyphicon glyphicon-chevron-left"></span></span></f:widget.link>
						</f:else>
					</f:if>
				</li>
			</f:then>
			<f:else>
				<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"><span class="glyphicon glyphicon-chevron-left"></span></span></a></li>
			</f:else>
		</f:if>
		<f:if condition="{pagination.displayRangeStart} > 1">
			<li>
				<f:widget.link addQueryStringMethod="{configuration.addQueryStringMethod}">1</f:widget.link>
			</li>
		</f:if>
		<f:if condition="{pagination.hasLessPages}">
			<li class="disabled"><a href="#" aria-label="Previous">...</a></li>
		</f:if>
		<f:for each="{pagination.pages}" as="page">
			<f:if condition="{page.isCurrent}">
				<f:then>
					<li class="active">
						<f:if condition="{page.number} > 1">
							<f:then>
								<f:widget.link arguments="{currentPage: page.number}" addQueryStringMethod="{configuration.addQueryStringMethod}">{page.number}</f:widget.link>
							</f:then>
							<f:else>
								<f:widget.link addQueryStringMethod="{configuration.addQueryStringMethod}">{page.number}</f:widget.link>
							</f:else>
						</f:if>
					</li>
				</f:then>
				<f:else>
					<li>
						<f:if condition="{page.number} > 1">
							<f:then>
								<f:widget.link arguments="{currentPage: page.number}" addQueryStringMethod="{configuration.addQueryStringMethod}">{page.number}</f:widget.link>
							</f:then>
							<f:else>
								<f:widget.link addQueryStringMethod="{configuration.addQueryStringMethod}">{page.number}</f:widget.link>
							</f:else>
						</f:if>
					</li>
				</f:else>
			</f:if>
		</f:for>
		<f:if condition="{pagination.hasMorePages}">
			<li class="disabled"><a href="#" aria-label="Previous">...</a></li>
		</f:if>
		<f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
			<li>
				<f:widget.link arguments="{currentPage: pagination.numberOfPages}" addQueryStringMethod="{configuration.addQueryStringMethod}">{pagination.numberOfPages}</f:widget.link>
			</li>
		</f:if>
		<f:if condition="{pagination.nextPage}">
			<f:then>
				<li class="next">
					<f:widget.link arguments="{currentPage: pagination.nextPage}" addQueryStringMethod="{configuration.addQueryStringMethod}" additionalAttributes="{aria-label:'Next'}"><span aria-hidden="true"><span class="glyphicon glyphicon-chevron-right"></span></span></f:widget.link>
				</li>
			</f:then>
			<f:else>
				<li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true"><span class="glyphicon glyphicon-chevron-right"></span></span></a></li>
			</f:else>
		</f:if>
		</ul>
	</nav>
</f:section>
