{namespace m=JAKOTA\Reisedb\ViewHelpers}
Tour: {trip.title}
Tourcode: {trip.code}

Buchungsdaten:

{gp.firstname} {gp.lastname}
{gp.address}
{gp.postcode} {gp.city}
{gp.country}

Telefon: {gp.phone}
Fax: {gp.fax}
E-Mail: {gp.email}

Anreise am: {gp.arrival}

Teilnehmeranzahl: {gp.numberOfPersons} davon {gp.numberOfChildren} Kinder unter 18 Jahren

Anreise per {gp.travelBy}

Kategorie: <m:priceCategories trip="{trip}" as="categories"><f:for each="{categories}" as="category"><f:if condition="{category.uid} == {gp.pricecategory}">{category.title} - {category.description}</f:if></f:for></m:priceCategories>


Bemerkungen:
{gp.message}

Personen:
<f:for each="{gp.persons}" as="person" iteration="i">
{person.firstname} {person.lastname} <f:if condition="{person.birthday}"> ({person.birthday})</f:if>
<f:if condition="{person.address}">{person.address}</f:if>
<f:if condition="{person.postcode}">{person.postcode}</f:if>
<f:if condition="{person.city}"> {person.city}</f:if>
<f:if condition="{person.country}">{person.country}</f:if>
<f:if condition="{person.rentalbike} == 'yes'"><f:then>
Leihrad:
{f:if(condition:'{person.rentalbikegear} == "7gang"', then: '###LLL:7gearShort###')}{f:if(condition:'{person.rentalbikegear} == "24gang"', then: '###LLL:24gearShort###')}
{f:if(condition:'{person.rentalbikesex} == "Damenrad"', then: '###LLL:womensbike###')}{f:if(condition:'{person.rentalbikesex} == "Herrenrad"', then: '###LLL:mensbike###')}
###LLL:bodyheight###: {person.rentalbikeheight}cm
</f:then></f:if>
</f:for>

Zimmerauswhl:
<f:for each="{gp.rooms}" as="room" iteration="i">
{room.name}
-------------------------------------------------
<f:for each="{room.beds}" as="bed">
{bed.firstname} {bed.lastname}
</f:for>
<f:for each="{room.additionalBed}" as="bed">
{bed.firstname} {bed.lastname} (###LLL:additionalbed###)
</f:for>
</f:for>