{namespace m=JAKOTA\Reisedb\ViewHelpers}
<f:format.raw>{</f:format.raw><f:for each="{trip.bookableDates}" as="bookableDate" iteration="i">
    '<f:format.date format="Ymd">{bookableDate.date}</f:format.date>': {bookableDate.status}<f:if condition="{i.isLast} != 1">,</f:if></f:for>
<f:format.raw>}</f:format.raw>