{namespace m=JAKOTA\Reisedb\ViewHelpers}
<div class="row">
    <div class="col-md-12">
        <p>###LLL:requesttour1### <strong>{trip.code} - {trip.title}</strong> ###LLL:requesttour2###<br>###LLL:checkdata###</p>
        <h3>###LLL:stepPersonalData###</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            {gp.firstname} {gp.lastname}<br/>
            {gp.address}<br/>
            {gp.postcode} {gp.city}<br/>
            {gp.country}<br/>
        </p>
    </div>
    <div class="col-md-6">
        <p>
            ###LLL:phone###: {gp.phone}<br/>
            ###LLL:fax###: {gp.fax}<br/>
            ###LLL:email###: {gp.email}<br/>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>###LLL:stepArrival###</h3>
        <p>
            ###LLL:arrival###: <strong>{gp.arrival}</strong><br />
            ###LLL:totalNumberOfPersons###: <strong>{gp.numberOfPersons} ({gp.numberOfChildren} {f:if(condition: '{gp.numberOfChildren} == 1', then: '###LLL:totalChildrenSingular###', else: '###LLL:totalChildren###')})</strong><br />
            ###LLL:pricecategory###: <m:priceCategories trip="{trip}" as="categories"><f:for each="{categories}" as="category"><f:if condition="{category.uid} == {gp.pricecategory}"><strong>{category.title}</strong> - {category.description}</f:if></f:for></m:priceCategories>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>###LLL:stepParticipants###</h3>
        <f:for each="{gp.persons}" as="person" iteration="i">
            <div class="row">
                <div class="col-md-6">
                    <strong>{person.firstname} {person.lastname}</strong><f:if condition="{person.birthday}"> ({person.birthday})</f:if><br />
                    <f:if condition="{person.address}">{person.address}<br /></f:if>
                    <f:if condition="{person.postcode}">{person.postcode}</f:if>
                    <f:if condition="{person.city}"> {person.city}<br /></f:if>
                    <f:if condition="{person.country}">{person.country}<br /></f:if>
                </div>
                <div class="col-md-6">
                    <f:if condition="{person.rentalbike} == 'yes'">
                        <f:then>
                            <div class="row">
                                <div class="col-xs-8">
                                    <p>
                                        {f:if(condition:'{person.rentalbikegear} == "7gang"', then: '###LLL:7gearShort###')}{f:if(condition:'{person.rentalbikegear} == "24gang"', then: '###LLL:24gearShort###')}
                                        {f:if(condition:'{person.rentalbikesex} == "Damenrad"', then: '###LLL:womensbike###')}{f:if(condition:'{person.rentalbikesex} == "Herrenrad"', then: '###LLL:mensbike###')}<br />
                                        ###LLL:bodyheight###: {person.rentalbikeheight}cm
                                    </p>
                                </div>
                                <div class="col-xs-4">
                                    <p class="text-right"><strong class="pricevalue"><m:PriceFormat round="0"><m:rentalBikePrice trip="{trip}" id="{person.rentalbiketype}" date="{gp.arrival}"/></m:PriceFormat></strong></p>
                                </div>
                            </div>

                        </f:then>
                        <f:else>###LLL:rentalBikeNo###</f:else>
                    </f:if>
                </div>
            </div>
            <f:if condition="{i.isLast}">
                <f:then></f:then>
                <f:else>
                    <div class="row">
                        <div class="col-md-12">
                            <hr style="border-color:rgba(82, 153, 31, 0.5);" />
                        </div>
                    </div>
                </f:else>
            </f:if>

        </f:for>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>###LLL:stepRoomSelection###</h3>
        <f:for each="{gp.rooms}" as="room" iteration="i">
            <div class="row">
                <div class="col-xs-12"><strong>{room.name}</strong></div>
            </div>
            <f:for each="{room.beds}" as="bed">
                <div class="row">
                    <div class="col-xs-8">
                        <p>{bed.firstname} {bed.lastname}</p>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-right">
                            <m:discount trip="{trip}" gp="{gp}"  person="{bed.uid}" /><br />
                            <strong class="pricevalue"><m:PriceFormat round="0"><m:roomPrice trip="{trip}" gp="{gp}" person="{bed.uid}" /></m:PriceFormat></strong></p>
                    </div>
                </div>
            </f:for>
            <f:for each="{room.additionalBed}" as="bed">
                <div class="row">
                    <div class="col-xs-8">
                        <p>{bed.firstname} {bed.lastname}</p>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-right">
                            <m:discount trip="{trip}" gp="{gp}"  person="{bed.uid}" /><br />
                            <strong class="pricevalue"><m:PriceFormat round="0"><m:roomPrice trip="{trip}" gp="{gp}" person="{bed.uid}" /></m:PriceFormat></strong></p>
                    </div>
                </div>
            </f:for>
            <f:if condition="{i.isLast}">
                <f:else>
                    <div class="row">
                        <div class="col-md-12">
                            <hr style="border-color:rgba(82, 153, 31, 0.5);" />
                        </div>
                    </div>
                </f:else>
            </f:if>
        </f:for>
    </div>
</div>
<f:if condition="{gp.eventPackages -> f:count()} > 0">
<div class="row">
    <div class="col-md-12">
        <h3>###LLL:stepEventPackage###</h3>
        <f:for each="{gp.eventPackages}" as="eventPackage">
            <div class="row">
                <div class="col-xs-12">
                    <strong>{eventPackage.title}</strong><br />
                    <f:if condition="{eventPackage.city}">###LLL:evCity###: <strong>{eventPackage.city}</strong><br /></f:if>
                    ###LLL:evDate###: <strong>{eventPackage.date}</strong><br />
                    <f:for each="{eventPackage.extraData}" as="extraData">
                        {extraData.extraData.title}: <strong>{extraData.value}</strong><br />
                    </f:for>
                    <h4>###LLL:stepParticipants###</h4>
                    <f:if condition="{eventPackage.isGroup}"><p>###LLL:evNoParticipants###</p></f:if>
                    <p>
                        <f:for each="{eventPackage.participants}" as="participant">
                            <div class="row">
                                <div class="col-xs-8">
                                    <p>{participant.person.firstname} {participant.person.lastname}</p>
                                </div>
                                <div class="col-xs-4">
                                    <f:if condition="{eventPackage.typeofprice} != 3"><p class="text-right">
                                        <strong class="pricevalue"><m:PriceFormat round="0">{participant.price}</m:PriceFormat></strong></p></f:if>
                                </div>
                            </div>
                        </f:for>
                    </p>
                    <f:if condition="{eventPackage.typeofprice} == 3">
                        <h4>###LLL:stepRoomSelection###</h4>
                        <p>
                            <f:for each="{eventPackage.rooms}" as="room">
                                <f:if condition="{room.count} > 0">
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <p>{room.count}x {room.room.title} (a <m:PriceFormat round="0">{room.price}</m:PriceFormat>)</p>
                                        </div>
                                        <div class="col-xs-4">
                                            <p class="text-right">
                                                <strong class="pricevalue"><m:PriceFormat round="0">{room.pricetotal}</m:PriceFormat></strong></p>
                                        </div>
                                    </div>
                                </f:if>
                            </f:for>
                        </p>
                    </f:if>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <hr style="border-color:rgba(82, 153, 31, 0.5);" />
                </div>
            </div>
        </f:for>
    </div>
</div>
</f:if>
<div class="row">
    <div class="col-md-12">
        <hr style="border-color:rgba(82, 153, 31, 0.5);" />
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <p><strong>###LLL:sum###:</strong></p>
    </div>
    <div class="col-xs-4">
        <p class="text-right">
            <strong id="totalPrice"></strong></p>
            <script type="text/javascript">
                var sumtotal = 0;
                $('.pricevalue').each(function() {
                    if ($('html').attr('lang') == 'en') {
                        sumtotal += parseFloat($(this).text().replace(',', ''));
                    } else {
                        sumtotal += parseFloat($(this).text().replace('.', '').replace(',', '.'));
                    }

                    if ($('html').attr('lang') == 'en') {
                        $('#totalPrice').text(formatMoney(sumtotal, 2, ',', '.') + ' €');
                    } else {
                        $('#totalPrice').text(formatMoney(sumtotal, 2, '.', ',') + ' €');
                    }
                });

                function formatMoney(n, c, d, t){
                    var     c = isNaN(c = Math.abs(c)) ? 2 : c,
                            d = d == undefined ? "." : d,
                            t = t == undefined ? "," : t,
                            s = n < 0 ? "-" : "",
                            i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
                            j = (j = i.length) > 3 ? j % 3 : 0;
                    return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
                }

            </script>
    </div>
</div>