{namespace m=JAKOTA\Reisedb\ViewHelpers}
<div class="panel-group">
    <f:for each="{trip.eventPackages}" as="eventPackage">
        <m:eventPackageShouldRendered eventPackage="{eventPackage}" trip="{trip}" gp="{gp}">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="checkbox" style="margin:0;">
                    <label>
                        <input data-bind="panel{eventPackage.uid}" class="panelTriggerCheckbox" type="checkbox" name="###formValuesPrefix###[eventPackage_{eventPackage.uid}]" value="1" ###checked_eventPackage_{eventPackage.uid}_1###> {eventPackage.title}
                    </label>
                </div>
            </div>
            <div class="panel-collapse collapse" id="panel{eventPackage.uid}">
                <div class="panel-body extraDataGroup" data-uid="{eventPackage.uid}">
                    <p>{eventPackage.description}</p>
                    <hr />
                    <f:if condition="{eventPackage.city}">
                        <div class="form-group">
                            <label>###LLL:evCity###: </label>
                            <strong>{eventPackage.city}</strong>
                        </div>
                    </f:if>
                    <div class="form-group">
                        <label for="extraDataDatepicker{eventPackage.uid}">###LLL:evDate###:</label>
                        <f:if condition="{renderDateSelector}">
                            <f:then>
                                <select id="extraDataDatepicker{eventPackage.uid}" name="###formValuesPrefix###[eventPackage_{eventPackage.uid}_date]" data-uid="{eventPackage.uid}" class="form-control extraDataDatepicker">
                                    <f:for each="{days}" as="day">
                                       <option value="{f:format.date(date:day.day, format:'d.m.Y')}" ###selected_eventPackage_{eventPackage.uid}]_date_{f:format.date(date:day.day, format:'d.m.Y')}###>{f:format.date(date:day.day, format:'d.m.Y')}</option>
                                    </f:for>
                                </select>
                            </f:then>
                            <f:else>
                                <strong>{f:format.date(date:defaultDate.day, format:'d.m.Y')}</strong>
                                <input type="hidden" id="extraDataDatepicker{eventPackage.uid}" name="###formValuesPrefix###[eventPackage_{eventPackage.uid}_date]" value="{f:format.date(date:defaultDate.day, format:'d.m.Y')}" />
                            </f:else>
                        </f:if>
                    </div>
                    <div class="extraDataContent"></div>
                    <f:for each="{days}" as="day">
                       <script type="template/html" style="display:none" class="extraDataSet" data-for="{f:format.date(date:day.day, format:'d.m.Y')}">
                           <f:for each="{eventPackage.extraData}" as="extraData">
                               <f:if condition="{extraData.dategroup} == {day.group}">
                                   <div class="form-group">
                                       <label for="extraData{extraData.uid}">{extraData.title}: </label>
                                       <f:if condition="{extraData.fieldtype} == 2">
                                           <input type="text" class="form-control" id="extraData{extraData.uid}" name="###formValuesPrefix###[eventPackage_{eventPackage.uid}_extraData{extraData.uid}]" value="###value_eventPackage_{eventPackage.uid}_extraData{extraData.uid}###">
                                       </f:if>
                                       <f:if condition="{extraData.fieldtype} == 0">
                                           <select id="datepicker{eventPackage.uid}" name="###formValuesPrefix###[eventPackage_{eventPackage.uid}_extraData{extraData.uid}]" class="form-control">
                                               <m:eventPackageExtraDataOptions options="{extraData.selectFields}">
                                                   <option value="{option}" ###selected_eventPackage_{eventPackage.uid}_extraData{extraData.uid}_{option}###>{option}</option>
                                               </m:eventPackageExtraDataOptions>
                                           </select>
                                       </f:if>
                                   </div>
                               </f:if>
                           </f:for>
                       </script>
                    </f:for>
                    <hr />
                    <f:if condition="{eventPackage.groupPackage}">
                        <f:then>
                            <p></p>
                        </f:then>
                        <f:else>
                            <div class="form-group">
                                <label>###LLL:evParticipants###: </label>
                                <div class="checkbox">
                                    <label>
                                        <input class="allpersonChackbox allpersons{eventPackage.uid}" data-target="person{eventPackage.uid}" type="checkbox" name="###formValuesPrefix###[eventPackage_{eventPackage.uid}_person{i.index}]" value="1">###LLL:allpersons###
                                    </label>
                                </div>
                                <hr>
                                <f:for each="{gp.persons}" as="person" iteration="i">
                                    <div class="checkbox">
                                        <label>
                                            <input class="personChackbox person{eventPackage.uid}" data-target="allpersons{eventPackage.uid}" data-group="person{eventPackage.uid}" type="checkbox" name="###formValuesPrefix###[eventPackage_{eventPackage.uid}_person{i.index}]" value="1" ###checked_eventPackage_{eventPackage.uid}_person{i.index}_1###> {person.firstname} {person.lastname}
                                        </label>
                                    </div>
                                </f:for>
                            </div>
                        </f:else>
                    </f:if>
                    <hr />
                    <f:if condition="{eventPackage.typeofprice} == 3">
                        <f:for each="{eventPackage.roomprice}" as="roomprice">
                            <f:if condition="{roomprice.dategroup} == {defaultDate.group}">
                                <f:if condition="{roomprice.pricecategory.uid} == {gp.pricecategory}">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <select name="###formValuesPrefix###[eventPackage_{eventPackage.uid}_room{roomprice.roomcategory.uid}]" class="form-control">
                                                <option value="0" ###selected_eventPackage_{eventPackage.uid}_room{roomprice.uid}_0###>0</option>
                                                <option value="1" ###selected_eventPackage_{eventPackage.uid}_room{roomprice.uid}_1###>1</option>
                                                <option value="2" ###selected_eventPackage_{eventPackage.uid}_room{roomprice.uid}_2###>2</option>
                                                <option value="3" ###selected_eventPackage_{eventPackage.uid}_room{roomprice.uid}_3###>3</option>
                                                <option value="4" ###selected_eventPackage_{eventPackage.uid}_room{roomprice.uid}_4###>4</option>
                                                <option value="5" ###selected_eventPackage_{eventPackage.uid}_room{roomprice.uid}_5###>5</option>
                                                <option value="6" ###selected_eventPackage_{eventPackage.uid}_room{roomprice.uid}_6###>6</option>
                                                <option value="7" ###selected_eventPackage_{eventPackage.uid}_room{roomprice.uid}_7###>7</option>
                                                <option value="8" ###selected_eventPackage_{eventPackage.uid}_room{roomprice.uid}_8###>8</option>
                                                <option value="9" ###selected_eventPackage_{eventPackage.uid}_room{roomprice.uid}_9###>9</option>
                                                <option value="10" ###selected_eventPackage_{eventPackage.uid}_room{roomprice.uid}_10###>10</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-10"><span style="position: relative; top: 8px;">{roomprice.roomcategory.title}</span></div>
                                    </div>
                                </f:if>
                            </f:if>
                        </f:for>
                    </f:if>
                </div>
            </div>
        </div>
        </m:eventPackageShouldRendered>
    </f:for>
</div>