{namespace m=JAKOTA\Reisedb\ViewHelpers}
<m:priceCategories trip="{trip}" as="categories">
    <f:for each="{categories}" as="category" iteration="i">
        <div class="radio">
            <label>
                <input type="radio" name="###formValuesPrefix###[pricecategory]" id="optionsRadios{i.index}" value="{category.uid}" ###checked_pricecategory_{category.uid}### {f:if(condition: '{i.total} == 1', then: 'checked')} />
                <strong>{category.title}</strong><br />{category.description}
            </label>
        </div>
    </f:for>
</m:priceCategories>