{namespace m=JAKOTA\Reisedb\ViewHelpers}
<m:rooms trip="{trip}" as="rooms">
    <f:for each="{rooms}" as="room">
        <div class="formFrame ###is_error_roomcount###" data-beds="{room.beds}" data-additionalbed="{room.additionalBed}" data-uid="{room.uid}">
            <div class="row">
                <div class="col-xs-3">
                    <select class="form-control small-select roomCountSelector" name="###formValuesPrefix###[roomcount{room.uid}]">
                        <f:for each="{0:0,1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9,10:10}" as="index">
                            <option ###selected_roomcount{room.uid}_{index}###>{index}</option>
                        </f:for>
                    </select>
                </div>
                <div class="col-xs-9">
                    <label class="einzeiler-ausrichtung">{room.title}</label>
                </div>
            </div>

            <f:for each="{1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9,10:10}" as="index">
                <div class="row room" data-index="{index}">
                    <div class="col-xs-12">
                        <hr />
                        <h4 class="text-center">###LLL:room### {index}</h4>
                        <f:for each="{1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9,10:10,11:11,12:12,13:13,14:14,15:15,16:16,17:17,18:18,19:19,20:20}" as="bed" iteration="i">
                            <f:if condition="{i.index} < {room.beds}">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label einzeiler-ausrichtung">###LLL:bed### {bed}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control personSelector" name="###formValuesPrefix###[roomperson{room.uid}{index}bed{bed}]" style="margin-bottom: 5px;">
                                            <option value="0" ###selected_roomperson{room.uid}{index}bed{bed}_0###>--- ###LLL:selectperson### ---</option>
                                            <f:for each="{gp.persons}" as="person">
                                                <option value="{person.uid}" ###selected_roomperson{room.uid}{index}bed{bed}_{person.uid}###>{person.firstname} {person.lastname}</option>
                                            </f:for>
                                        </select>
                                    </div>
                                </div>
                            </f:if>
                        </f:for>
                        <f:if condition="{room.additionalBed}">
                            <div class="form-group" style="margin-top: 5px;">
                                <label class="col-sm-4 control-label einzeiler-ausrichtung">###LLL:additionalbed###</label>
                                <div class="col-sm-8">
                                    <select class="form-control personSelector addidonal" name="###formValuesPrefix###[roomperson{room.uid}{index}bedaddtional]" style="margin-bottom: 5px;">
                                            <option value="0" ###selected_roomperson{room.uid}{index}bedaddtional_0###>--- ###LLL:selectperson### ---</option>
                                        <f:for each="{gp.persons}" as="person">
                                            <option value="{person.uid}" ###selected_roomperson{room.uid}{index}bedaddtional_{person.uid}###>{person.firstname} {person.lastname}</option>
                                        </f:for>
                                    </select>
                                </div>
                            </div>
                        </f:if>
                    </div>
                </div>
            </f:for>
        </div>
    </f:for>
</m:rooms>
<script type="text/javascript">
    $('.roomCountSelector').each(function() {
        var showNumberOfRooms = $(this).val();
        $(this).parents('.formFrame').find('.room').each(function() {
            if ($(this).data('index') <= showNumberOfRooms) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });

    $('.roomCountSelector').change(function() {
        var showNumberOfRooms = $(this).val();
        $(this).parents('.formFrame').find('.room').each(function() {
            if ($(this).data('index') <= showNumberOfRooms) {
                if (!$(this).is(":visible")) $(this).slideDown();
            } else {
                if ($(this).is(":visible")) $(this).slideUp();
            }
        });
    });

    var personCount = 0;
    $('.personSelector').each(function() {
        $(this).data('uid', $(this).val());
        $(this).data('name', $(this).find('option[value='+$(this).val()+']').text());
        if ($(this).val() > 0) {
            hideOption($(this).val());
            personCount++;
            $('input[name="booking[roomcount]"]').val(personCount);
        }
    });

    $('.personSelector').change(function() {
        var uid = $(this).data('uid');
        var name = $(this).data('name');
        if (uid > 0) showOption(uid);
        $(this).data('uid', $(this).val());
        $(this).data('name', $(this).find('option[value='+$(this).val()+']').text());
        if ($(this).val() > 0) {
            hideOption($(this).val());
        }
        personCount = 0;
        $('.personSelector').each(function() {
            if ($(this).val() > 0) {
                personCount++;
                $('input[name="booking[roomcount]"]').val(personCount);
            }
        });
    });



    function hideOption(uid) {
        $('.personSelector').each(function() {
           if ($(this).val() != uid) {
               var name = $(this).find('option[value='+uid+']').text();
               $(this).find('option[value='+uid+']').after($('<span />').data('uid', uid).data('name', name));
               $(this).find('option[value='+uid+']').remove();
           }
            if ($(this).find('option').length == 1) {
                $(this).attr('disabled', true);
                $(this).val(0);
            }
        });

    }

    function showOption(uid) {
        $('.personSelector span').each(function() {
            if ($(this).data('uid') == uid) {
                var name =$(this).data('name');
                $(this).after($('<option />').attr('value', uid).text(name));
                $(this).remove();
            }
        });
        $('.personSelector').each(function() {
            if ($(this).find('option').length > 1) {
                $(this).removeAttr('disabled');
            }
        });
    }

    function checkPersonInRooms() {
        var personselect = $('.personSelector:visible:not(.addidonal)');
        for (var i = 0; i < personselect.length; i++) {
            if($(personselect[i]).val() == 0) {
                return false;
            }
        }
        return true;
    }

    $('#booking4').submit(function(event) {
        if (checkPersonInRooms()) return null;
        alert('Bitte belegen Sie alle Betten in den Zimmern.');
        event.preventDefault();
    });

</script>