{namespace m=JAKOTA\Reisedb\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
    <div class="row">
        <div class="col-md-1">
            <a href="{f:uri.action(action: 'show', arguments:{trip:trip})}" class="backButton" data-nohistory="1" data-toggle="tooltip" data-placement="top"
               title="{f:translate(key: 'back', default: '---')}">
                <div class="img-circle"
                     style="background: #E9EEE4; width: 44px; height: 44px; margin-top: 12px; text-align: center; padding-top: 10px; font-size: 18px;">
                    <div class="glyphicon glyphicon-menu-left"></div>
                </div>
            </a>
        </div>

        <div class="col-md-11">
        	<h1>Ihre Buchungsanfrage</h1>
            
        	
            
            
            
            
            
            <div class="well">
            
            	<div class="row">
            	<div class="col-md-2"></div>
            	<div class="col-md-2">
                	<f:if condition="{trip.images}">
                        <f:image width="600c" height="400c" src="{trip.images.0.originalResource.publicUrl}" alt="{trip.title}" class="img-responsive" title="{trip.seotitle}" />
                    </f:if>
                </div>
            	<div class="col-md-8">
           			<h3 style="margin-top: 0px; color: #005077;">{trip.title}</h3> 
                    <p>
                        <m:tripDays nights="{trip.nights}"/>
                        /
                        <m:LengthFormat><m:tripLength stations="{trip.stations}"/></m:LengthFormat>
                        /
                        <f:translate key="fromPrice" /> <m:PriceFormat><m:tripFromPrice trip="{trip}"/></m:PriceFormat>
                    </p>
                </div>
            </div>
            
            <hr />
            	
                
                
            
                <f:alias map="{do: 'yes'}"><f:format.raw>{form}</f:format.raw></f:alias>
            </div>
        </div>
    </div>
</f:section>

