{namespace m=JAKOTA\Reisedb\ViewHelpers}
<f:layout name="CategoryList"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="default">
    <div class="reiseliste">
        <!--div class="col-md-9"-->
            <f:if condition="{settings.enablePager}">
                <f:then>
                    <f:widget.paginate objects="{trips}" as="tripsPaginated"
                                       configuration="{itemsPerPage: settings.itemPerPage, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 7}">
                        <f:for each="{tripsPaginated}" as="trip" iteration="i">
                            <f:cycle values="{0:'odd', 1:'odd', 2:'even'}" as="evenOdd">
                                <f:render partial="Trip/Teaser" arguments="{trip:trip, evenOdd:evenOdd}"/>
                            </f:cycle>
                        </f:for>
                    </f:widget.paginate>
                </f:then>
                <f:else>
                    <f:for each="{trips}" as="trip" iteration="i">
                        <f:cycle values="{0:'odd', 1:'odd', 2:'even'}" as="evenOdd">
                            <f:render partial="Trip/Teaser" arguments="{trip:trip, evenOdd:evenOdd}"/>
                        </f:cycle>
                    </f:for>
                </f:else>
            </f:if>
        <!--/div-->
    </div>
</f:section>

<f:section name="linkList">
    <div class="row">
        <div class="col-md-12">
            <f:if condition="{settings.enablePager}">
                <f:then>
                    <f:widget.paginate objects="{trips}" as="tripsPaginated"
                                       configuration="{itemsPerPage: settings.itemPerPage, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 7}">
                        <div class="list-group">
                            <f:for each="{tripsPaginated}" as="trip" iteration="i">
                                <f:cycle values="{0:'odd', 1:'odd', 2:'even'}" as="evenOdd">
                                    <f:link.action action="show" pageUid="113" arguments="{trip : trip}" class="list-group-item">{trip.title} <span class="badge">{trip.code}</span></f:link.action>
                                </f:cycle>
                            </f:for>
                        </div>
                    </f:widget.paginate>
                </f:then>
                <f:else>
                    <div class="list-group">
                        <f:for each="{trips}" as="trip" iteration="i">
                            <f:cycle values="{0:'odd', 1:'odd', 2:'even'}" as="evenOdd">
                                <f:link.action action="show" pageUid="113" arguments="{trip : trip}" class="list-group-item">{trip.title} <span class="badge">{trip.code}</span></f:link.action>
                            </f:cycle>
                        </f:for>
                    </div>
                </f:else>
            </f:if>
        </div>
    </div>
</f:section>