{namespace m=JAKOTA\Reisedb\ViewHelpers}
<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <f:comment>
    <div class="row">
        <div class="col-md-3">
        <f:render partial="Trip/Searchform" arguments="{keyword:''}"/>
    </div>
        <div class="col-md-9">
            <h2><f:count>{trips}</f:count> Touren <span>Insgesamt</span></h2>
            <f:if condition="{trips -> f:count()}>21">
                <f:then>
                    <f:widget.paginate objects="{trips}" as="tripsPaginated"
                                       configuration="{itemsPerPage: 21, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 7}">
                        <f:for each="{tripsPaginated}" as="trip" iteration="i">
                            <f:cycle values="{0:'odd', 1:'odd', 2:'even'}" as="evenOdd">
                                <f:render partial="Trip/Teaser" arguments="{trip:trip, evenOdd:evenOdd}"/>
                            </f:cycle>
                        </f:for>
                    </f:widget.paginate>
                </f:then>
                <f:else>
                    <f:for each="{trips}" as="trip" iteration="i">
                        <f:cycle values="{0:'odd', 1:'odd', 2:'even'}" as="evenOdd">
                            <f:render partial="Trip/Teaser" arguments="{trip:trip, evenOdd:evenOdd}"/>
                        </f:cycle>
                    </f:for>
                </f:else>
            </f:if>
        </div>
    </div>
    </f:comment>
</f:section>