{namespace m=JAKOTA\Reisedb\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
    <div class="row">
        <div class="col-md-1">
            <a href="{f:uri.action(action: 'show', arguments:{trip:trip})}" class="backButton" data-nohistory="1" data-toggle="tooltip" data-placement="top"
               title="{f:translate(key: 'back', default: '---')}">
                <div class="img-circle"
                     style="background: #E9EEE4; width: 44px; height: 44px; margin-top: 12px; text-align: center; padding-top: 10px; font-size: 18px;">
                    <div class="glyphicon glyphicon-menu-left"></div>
                </div>
            </a>
        </div>

        <div class="col-md-11">
            <h2>Ihre Reisebewertung: <span>{trip.title}</span></h2>
            <div class="well">
                <f:alias map="{do: 'yes'}"><f:format.raw>{form}</f:format.raw></f:alias>
            </div>
        </div>
    </div>
</f:section>