{namespace m=JAKOTA\Reisedb\ViewHelpers}
<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <f:render partial="Trip/Searchform" arguments="{search:search, radwege:radwege, regionen:regionen}"/>

    <f:if condition="{tripsfound}">
        <f:then>
            <f:if condition="{trips -> f:count()}==1">
                <f:then>
                <h2>1 {f:translate(key:'found_trip')}</h2>
                </f:then>
                <f:else>
                <h2><f:count>{trips}</f:count> {f:translate(key:'found_trips')}</h2>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <h2>{f:translate(key:'no_trips_found')}</h2>
            <p class="well">{f:translate(key:'no_trips_found_text')}</p>
        </f:else>
    </f:if>
            <f:if condition="{trips -> f:count()}>10">
                <f:then>
                    <f:widget.paginate objects="{trips}" as="tripsPaginated" configuration="{itemsPerPage: 10, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 7}">
                        <f:for each="{tripsPaginated}" as="trip" iteration="i">
                            <f:render partial="Trip/SearchresultEntry" arguments="{trip:trip, evenOdd:evenOdd}"/>
                            <hr class="no-margin">
                        </f:for>
                    </f:widget.paginate>
                </f:then>
                <f:else>
                    <f:for each="{trips}" as="trip" iteration="i">
                        <f:render partial="Trip/SearchresultEntry" arguments="{trip:trip, evenOdd:evenOdd}"/>
                        <hr class="no-margin">
                    </f:for>
                </f:else>
            </f:if>


</f:section>