{namespace m=JAKOTA\Reisedb\ViewHelpers}
<f:layout name="Default"/>
This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <f:flashMessages renderMode="div"/>
        <script type="template/html" id="tripHeader">
            <div class="tripHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-8">
                            <h2>{trip.title} <small><m:tripDays nights="{trip.nights}"/> / <m:LengthFormat><m:tripLength stations="{trip.stations}"/></m:LengthFormat></small></h2>
                        </div>
                        <div class="col-md-3">
                            <f:link.action action="booking" arguments="{trip : trip}" class="btn btn-primary">Jetzt buchen <span class="badge"><f:translate key="fromPrice" /> <m:PriceFormat><m:tripFromPrice trip="{trip}"/></m:PriceFormat></span> <span class="glyphicon glyphicon-chevron-right"></span></f:link.action>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <div class="row">
            <div class="col-md-1">
                <a href="{f:uri.action(action: 'list')}" class="backButton" data-toggle="tooltip" data-placement="top"
                   title="{f:translate(key: 'back', default: '---')}">
                    <div class="img-circle"
                         style="background: #E9EEE4; width: 44px; height: 44px; margin-top: 12px; text-align: center; padding-top: 10px; font-size: 18px;">
                        <div class="glyphicon glyphicon-menu-left"></div>
                    </div>
                </a>
            </div>
            <div class="col-md-11">
                <h1 style="font-size: 28px;">
                    <f:for each="{trip.categories}" as="category">
                        <f:if condition="{category.uid} == 72">
                            <f:translate key="headingbiketour"/>:
                        </f:if>
                        <f:if condition="{category.uid} == 73">
                            <f:translate key="headingwalkingtour"/>:
                        </f:if>
                    </f:for>
                    {trip.title}
                </h1>

                <p class="lead">
                    <m:tripDays nights="{trip.nights}"/>
                    /
                    <m:LengthFormat><m:tripLength stations="{trip.stations}"/></m:LengthFormat>
                    /
                    <f:translate key="fromPrice" /> <m:PriceFormat><m:tripFromPrice trip="{trip}"/></m:PriceFormat>
                </p>

            </div>
        </div>
        <a id="tripHeaderFixed"></a>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <f:render partial="Trip/DetailGallery" arguments="{trip:trip}"/>
                <f:if condition="{trip.highlights}">
                    <h3>Highlights dieser Radtour</h3>
                    <f:format.html>{trip.highlights}</f:format.html>
                </f:if>
                <f:format.html>{trip.description}</f:format.html>
                <div style="margin-top: 30px; background: #E9EEE4; padding: 10px; border-radius: 6px 6px;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tourverlauf" aria-controls="tourverlauf" role="tab" data-toggle="tab"><f:translate key="route"/></a></li>
                        <li role="presentation"><a href="#preise" aria-controls="preise" role="tab" data-toggle="tab"><f:translate key="prices"/></a></li>
                        <f:if condition="{m:hasAdditionalNights(trip:trip)}">
                            <li role="presentation"><a href="#tabaddnights" aria-controls="tabaddnights" role="tab" data-toggle="tab"><f:translate key="additionalnights"/></a></a></li>
                        </f:if>
                        <f:if condition="{trip.eventPackages -> f:count()} > 0">
                            <li role="presentation"><a href="#tabeventpackages" aria-controls="" role="tab" data-toggle="tab"><f:translate key="eventpackages"/></a></li>
                        </f:if>
                        <f:for each="{trip.infoboxes}" as="infobox">
                            <f:if condition="{infobox.asTab}">
                                <li role="presentation"><a href="#tab{infobox.uid}" aria-controls="" role="tab" data-toggle="tab">{infobox.title}</a></li>
                            </f:if>
                        </f:for>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tourverlauf">
                            <h2><f:translate key="routeHeading"/></h2>
                            <f:if condition="{trip.map}"><f:image width="800c" src="{trip.map.originalResource.publicUrl}" alt="{trip.map.originalResource.title}" class="img-responsive"/></f:if>
                            <f:for each="{trip.stations}" as="station" iteration="i">
                                <h3>{station.title}</h3>
                                <f:if condition="{station.tracklengthApprox}">
                                    <f:then>
                                        <p><strong><f:translate key="lengthApprox"></f:translate> {station.tracklengthApprox}</strong></p>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{station.tracklength}">
                                            <p><strong><f:translate key="lengthAbs"></f:translate> <m:lengthFormat>{station.tracklength}</m:lengthFormat></strong></p>
                                        </f:if>
                                    </f:else>
                                </f:if>
                                <f:format.html>{station.description}</f:format.html>
                            </f:for>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="preise">

                            <h2><f:translate key="reisepreise"/></h2>
                            <m:priceTable trip="{trip}" as="priceTable">
                                <f:if condition="{priceTable.0}">
                                    <table class="table table-bordered buchen-preise">
                                        <thead>
                                        <tr>
                                            <th>Preis in € pro Person *</th>

                                            <f:for each="{priceTable.0.prices}" as="pricedata" iteration="i">
                                                <th>{pricedata.category.title}</th>
                                            </f:for>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <f:for each="{priceTable}" as="tablerow" iteration="i">
                                            <tr>
                                                <td>{tablerow.room.title}</td>
                                                <f:for each="{tablerow.prices}" as="pricedata" iteration="c">
                                                    <f:if condition="{pricedata.price}">
                                                        <f:then>
                                                            <f:if condition="{pricedata.price.fromPrice}">
                                                                <f:then>
                                                                    <td><f:translate key="fromPrice"/> <m:PriceFormat round="0" currency="">{pricedata.price.price}</m:PriceFormat></td>
                                                                </f:then>
                                                                <f:else>
                                                                    <td><m:PriceFormat round="0" currency="">{pricedata.price.price}</m:PriceFormat></td>
                                                                </f:else>
                                                            </f:if>

                                                        </f:then>
                                                        <f:else><td>-</td></f:else>
                                                    </f:if>
                                                </f:for>
                                            </tr>
                                        </f:for>
                                        </tbody>
                                    </table>
                                </f:if>
                            </m:priceTable>
                            <m:groupSeasonPrices trip="{trip}" as="seasonPrices">
                                <f:if condition="{seasonPrices}">
                                    <h3><f:translate key="saisonpreise"/></h3>
                                    <f:for each="{seasonPrices}" as="seasonPrice">
                                        <p><strong><f:translate key="vom"/> <f:format.date date="{seasonPrice.from}" format="d.m.Y" /> <f:translate key="bis"/> <f:format.date date="{seasonPrice.to}" format="d.m.Y" /> </strong></p>
                                        <ul class="list-style-1">
                                            <f:for each="{seasonPrice.prices}" as="price">
                                                <li>
                                                    <f:if condition="{price.value} > 0">
                                                        <f:if condition="{price.type} == 0">
                                                            <m:PriceFormat round="0">{price.value}</m:PriceFormat>
                                                        </f:if>
                                                        <f:if condition="{price.type} == 1">
                                                            {price.value}%
                                                        </f:if>
                                                        <f:translate key="zuschlag_in" />
                                                    </f:if>
                                                    <f:if condition="{price.value} < 0">
                                                        <f:if condition="{price.type} == 0">
                                                            <m:PriceFormat round="0">{price.value}</m:PriceFormat>
                                                        </f:if>
                                                        <f:if condition="{price.type} == 1">
                                                            {price.value}%
                                                        </f:if>
                                                        <f:translate key="rabatt_in" />
                                                    </f:if>
                                                    <f:for each="{price.inPricecategory}" as="priceCategory" iteration="i">
                                                        <f:if condition="{i.total} > 1">
                                                            <f:if condition="{i.isLast}">
                                                                <f:then> <f:translate key="und"/> </f:then>
                                                            </f:if>
                                                        </f:if>
                                                        {priceCategory.title}{f:if(condition:i.isLast, then:'', else:', ')}
                                                    </f:for>
                                                </li>
                                            </f:for>
                                        </ul>
                                    </f:for>
                                </f:if>
                            </m:groupSeasonPrices>
                            <f:if condition="{trip.additionalServices}">
                                <h3><f:translate key="zusatzleistungen"/></h3>
                                <f:for each="{trip.additionalServices}" as="additionalService">
                                    <ul class="list-style-1">
                                        <li>
                                            {additionalService.name} - <m:PriceFormat round="0"><m:selectPrice prices="{additionalService.price}"/></m:PriceFormat>
                                        </li>
                                    </ul>
                                </f:for>
                            </f:if>
                            <f:if condition="{trip.groupDiscounts}">
                                <h3><f:translate key="gruppenrabatte"/></h3>
                                <p><f:translate key="gruppenrabatteinfo"/></p>
                                <ul class="list-style-1">
                                    <f:for each="{trip.groupDiscounts}" as="groupDiscount">
                                        <li><f:translate key="vom"/> <f:format.date date="{groupDiscount.fromDay}" format="d.m.Y" /> <f:translate key="bis"/> <f:format.date date="{groupDiscount.toDay}" format="d.m.Y" /></li>
                                    </f:for>
                                </ul>
                            </f:if>
                            <f:if condition="{trip.type} == 0">
                                <f:if condition="{trip.childDiscounts}">
                                    <f:then>
                                        <h3><f:translate key="kinderermaessigung"/></h3>
                                        <f:for each="{trip.childDiscounts}" as="childDiscount">
                                            <p><strong>{childDiscount.fromAge} - {childDiscount.toAge} <f:translate key="jahre"/></strong><br />
                                                <f:if condition="{childDiscount.value} > 0">
                                                    <f:if condition="{childDiscount.type} == 0">
                                                        <m:PriceFormat round="0">{childDiscount.value}</m:PriceFormat>
                                                    </f:if>
                                                    <f:if condition="{childDiscount.type} == 1">
                                                        {childDiscount.value}%
                                                    </f:if>
                                                    <f:translate key="zuschlag_in" />
                                                </f:if>
                                                <f:if condition="{childDiscount.value} < 0">
                                                    <f:if condition="{childDiscount.type} == 0">
                                                        <m:PriceFormat round="0">{childDiscount.value}</m:PriceFormat>
                                                    </f:if>
                                                    <f:if condition="{childDiscount.type} == 1">
                                                        {childDiscount.value}%
                                                    </f:if>
                                                    <f:translate key="rabatt_in" />
                                                </f:if>
                                                <f:for each="{childDiscount.inPricecategory}" as="priceCategory" iteration="i">
                                                    <f:if condition="{i.total} > 1">
                                                        <f:if condition="{i.isLast}">
                                                            <f:then> <f:translate key="und"/> </f:then>
                                                        </f:if>
                                                    </f:if>
                                                    {priceCategory.title}{f:if(condition:i.isLast, then:'', else:', ')}
                                                </f:for>
                                                <br />
                                                <f:if condition="{childDiscount.numberChildren} == 1">
                                                    <f:then>max. {childDiscount.numberChildren} <f:translate key="kind"/></f:then>
                                                    <f:else>max. {childDiscount.numberChildren} <f:translate key="kinder"/></f:else>
                                                </f:if>
                                                <br />
                                                <f:if condition="{childDiscount.numberAdult} == 1">
                                                    <f:then>max. {childDiscount.numberAdult} <f:translate key="adult"/></f:then>
                                                    <f:else>max. {childDiscount.numberAdult} <f:translate key="adults"/></f:else>
                                                </f:if>
                                                <br />
                                                <f:if condition="{childDiscount.typeOfBed} == 0"><f:translate key="inaufbettungimdz"/></f:if>
                                                <f:if condition="{childDiscount.typeOfBed} == 1"><f:translate key="ineigenemzimmer"/></f:if>
                                            </p>
                                        </f:for>
                                    </f:then>
                                    <f:else>
                                        <h3><f:translate key="kinderermaessigung"/></h3>
                                        <p><strong><f:translate key="otchilddiscountto4"/></strong></p>
                                        <ul class="list-style-1">
                                            <li><f:translate key="otchilddiscountto4_1"/></li>
                                        </ul>
                                        <p><strong><f:translate key="otchilddiscountto15"/></strong></p>
                                        <ul class="list-style-1">
                                            <li><f:translate key="otchilddiscountto15_1"/></li>
                                            <li><f:translate key="otchilddiscountto15_2"/></li>
                                            <li><f:translate key="otchilddiscountto15_3"/></li>
                                        </ul>
                                        <p><strong><f:translate key="otchilddiscountto16"/></strong></p>
                                        <ul class="list-style-1">
                                            <li><f:translate key="otchilddiscountto16_1"/></li>
                                        </ul>
                                    </f:else>
                                </f:if>
                            </f:if>
                            <f:if condition="{trip.type} == 1">
                                <f:if condition="{trip.childDiscounts}">
                                    <h3><f:translate key="kinderermaessigung"/></h3>
                                    <f:for each="{trip.childDiscounts}" as="childDiscount">
                                        <p><strong>{childDiscount.fromAge} - {childDiscount.toAge} <f:translate key="jahre"/></strong><br />
                                            <f:if condition="{childDiscount.value} > 0">
                                                <f:if condition="{childDiscount.type} == 0">
                                                    <m:PriceFormat round="0">{childDiscount.value}</m:PriceFormat>
                                                </f:if>
                                                <f:if condition="{childDiscount.type} == 1">
                                                    {childDiscount.value}%
                                                </f:if>
                                                <f:translate key="zuschlag_in" />
                                            </f:if>
                                            <f:if condition="{childDiscount.value} < 0">
                                                <f:if condition="{childDiscount.type} == 0">
                                                    <m:PriceFormat round="0">{childDiscount.value}</m:PriceFormat>
                                                </f:if>
                                                <f:if condition="{childDiscount.type} == 1">
                                                    {childDiscount.value}%
                                                </f:if>
                                                <f:translate key="rabatt_in" />
                                            </f:if>
                                            <f:for each="{childDiscount.inPricecategory}" as="priceCategory" iteration="i">
                                                <f:if condition="{i.total} > 1">
                                                    <f:if condition="{i.isLast}">
                                                        <f:then> <f:translate key="und"/> </f:then>
                                                    </f:if>
                                                </f:if>
                                                {priceCategory.title}{f:if(condition:i.isLast, then:'', else:', ')}
                                            </f:for>
                                            <br />
                                            <f:if condition="{childDiscount.numberChildren} == 1">
                                                <f:then>max. {childDiscount.numberChildren} <f:translate key="kind"/></f:then>
                                                <f:else>max. {childDiscount.numberChildren} <f:translate key="kinder"/></f:else>
                                            </f:if>
                                            <br />
                                            <f:if condition="{childDiscount.numberAdult} == 1">
                                                <f:then>max. {childDiscount.numberAdult} <f:translate key="adult"/></f:then>
                                                <f:else>max. {childDiscount.numberAdult} <f:translate key="adults"/></f:else>
                                            </f:if>
                                            <br />
                                            <f:if condition="{childDiscount.typeOfBed} == 0"><f:translate key="inaufbettungimdz"/></f:if>
                                            <f:if condition="{childDiscount.typeOfBed} == 1"><f:translate key="ineigenemzimmer"/></f:if>
                                        </p>
                                    </f:for>
                                </f:if>
                            </f:if>
                        </div>
                        <f:if condition="{m:hasAdditionalNights(trip:trip)}">
                            <div role="tabpanel" class="tab-pane" id="tabaddnights">
                                <h3>Zusatznächte</h3>
                                <f:for each="{trip.stations}" as="station" iteration="i">
                                    <f:if condition="{station.addtionalNightPrices}">
                                        <h4>{station.city}</h4>
                                        <f:if condition="{station.additionalNightDescription}">
                                            <p>{station.additionalNightDescription}</p>
                                        </f:if>
                                        <f:if condition="{station.addtionalNightPrices}">
                                            <m:priceTableAllg prices="{station.addtionalNightPrices}" as="priceTable">
                                                <f:if condition="{priceTable.0}">
                                                    <table class="table table-bordered buchen-preise">
                                                        <thead>
                                                        <tr>
                                                            <th>Preis in € pro Person*</th>
                                                            <f:for each="{priceTable.0.prices}" as="pricedata" iteration="d">
                                                                <th>{pricedata.category.title}</th>
                                                            </f:for>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <f:for each="{priceTable}" as="tablerow" iteration="b">

                                                            <tr>
                                                                <td>{tablerow.room.title}</td>
                                                                <f:for each="{tablerow.prices}" as="pricedata" iteration="f">
                                                                    <f:if condition="{pricedata.price}">
                                                                        <f:then>
                                                                            <f:if condition="{pricedata.price.fromPrice}">
                                                                                <f:then>
                                                                                    <td><f:translate key="fromPrice"/> <m:PriceFormat round="0" currency="">{pricedata.price.price}</m:PriceFormat></td>
                                                                                </f:then>
                                                                                <f:else>
                                                                                    <td><m:PriceFormat round="0" currency="">{pricedata.price.price}</m:PriceFormat></td>
                                                                                </f:else>
                                                                            </f:if>

                                                                        </f:then>
                                                                        <f:else>
                                                                            <td>-</td>
                                                                        </f:else>
                                                                    </f:if>
                                                                </f:for>
                                                            </tr>
                                                        </f:for>
                                                        </tbody>
                                                    </table>
                                                </f:if>
                                            </m:priceTableAllg>
                                        </f:if>
                                    </f:if>
                                </f:for>
                            </div>
                        </f:if>
                        <f:if condition="{trip.eventPackages -> f:count()} > 0">
                            <div role="tabpanel" class="tab-pane" id="tabeventpackages">
                                <h2><f:translate key="eventpackages"/></h2>
                                <f:for each="{trip.eventPackages}" as="eventPackage">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <h3>{eventPackage.title} <span class="badge"><f:translate key="fromPrice"/> <f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." prependCurrency="false">{m:EventPackageFromPrice(eventPackage: eventPackage)}</f:format.currency></span></h3>
                                            <p>{eventPackage.description}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <f:if condition="{eventPackage.detailpage}">
                                                <f:link.page pageUid="{eventPackage.detailpage}" class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span> Infos</f:link.page>
                                            </f:if>
                                        </div>
                                    </div>


                                </f:for>
                            </div>
                        </f:if>
                        <f:for each="{trip.infoboxes}" as="infobox">
                            <f:if condition="{infobox.asTab}">
                                <div role="tabpanel" class="tab-pane" id="tab{infobox.uid}">
                                    <h3>{infobox.title}</h3>
                                    {infobox.content -> f:format.html()}
                                </div>
                            </f:if>
                        </f:for>
                    </div>
                </div>


                <h2>Bewertungen</h2>
                <f:if condition="{trip.reviews -> f:count()}>=1">
                    <f:then>
                        <div class="rating-desc" itemscope="" itemtype="http://schema.org/Product">
                            <div class="well">
                                <span itemprop="name"><strong>{trip.title}</strong></span>
                                <m:starRating><m:rating reviews="{trip.reviews}" /></m:starRating>
                                <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"><span itemprop="ratingValue"><m:rating reviews="{trip.reviews}" /></span> / 5 (<span itemprop="reviewCount">{trip.reviews -> f:count()}</span> Bewertungen)</span>
                            </div>
                            <m:sortStorage subject="{trip.reviews}" as="sortedReviews" sortBy="quality" order="DESC">
                                <f:for each="{sortedReviews}" as="review" iteration="i">
                                    <h3><f:link.action action="showReview" arguments="{trip : trip, review: review}" class="">{review.title}</f:link.action></h3><div class="pull-right"><m:starRating>{review.ratingOverall}</m:starRating></div>
                                    <p><f:format.nl2br><f:format.crop maxCharacters="200" append="..." respectWordBoundaries="1">{review.description}</f:format.crop> <f:link.action action="showReview" arguments="{trip : trip, review: review}" class="">mehr lesen...</f:link.action></f:format.nl2br></p>
                                </f:for>
                                <hr>
                                <p><f:link.action action="review" arguments="{trip : trip}" class="btn btn-default">Jetzt bewerten</f:link.action></p>
                            </m:sortStorage>
                        </div>
                    </f:then>
                    <f:else>

                        <p>Diese Reise ist noch nicht bewertet worden.</p>
                        <p><f:link.action action="review" arguments="{trip : trip}" class="btn btn-default">Jetzt bewerten</f:link.action></p>

                    </f:else>
                </f:if>

                <p></p>
                <p style="font-size:12px;">* <b>Achtung:</b> Es können Zusatzkosten entstehen, die nicht im Reisepreis enthalten sind.</p>

            </div>
            <div class="col-md-3">


                <div class="teaser-box">


                    <h3><f:translate key="bookhere" /></h3>

                    <p class="lead" style="margin-bottom: 0px; color: #005077;">{trip.code}</p>

                    <m:starRating><m:rating reviews="{trip.reviews}" /></m:starRating>

                    <f:render partial="Trip/Icons" arguments="{trip:trip}"/>

                    <p>
                        <strong>{trip.title}</strong><br />
                        <m:tripDays nights="{trip.nights}"/> / {trip.nights} <f:translate key="nights" /><br />
                        <f:format.nl2br>{trip.verbalBookable}</f:format.nl2br>
                    </p>
                    <m:priceTable trip="{trip}" as="priceTable">
                        <f:if condition="{priceTable.0}">
                            <table class="table table-bordered buchen-preise">
                                <thead>
                                <tr>
                                    <th>Preis in € pro Person*</th>
                                    <f:for each="{priceTable.0.prices}" as="pricedata" iteration="i">
                                        <th>{pricedata.category.title}</th>
                                    </f:for>
                                </tr>
                                </thead>
                                <tbody>
                                <f:for each="{priceTable}" as="tablerow" iteration="i">
                                    <tr>
                                        <td>{tablerow.room.title}</td>
                                        <f:for each="{tablerow.prices}" as="pricedata" iteration="c">
                                            <f:if condition="{pricedata.price}">
                                                <f:then><td><m:PriceFormat round="1" currency="">{pricedata.price.price}</m:PriceFormat></td></f:then>
                                                <f:else><td>-</td></f:else>
                                            </f:if>
                                        </f:for>
                                    </tr>
                                </f:for>
                                </tbody>
                            </table>
                        </f:if>
                    </m:priceTable>
                    <p style="font-size:11px; margin-top: -15px; margin-bottom: 20px;"><b>Achtung:</b> Diese Reise ist nicht für Personen mit Mobilitätseinschränkung geeignet.</p>
                    <div class="text-right margin-bottom-20"> <f:link.action action="booking" arguments="{trip : trip}" class="btn btn-primary" style='width:100%; margin-bottom: -10px;'>Jetzt buchen</f:link.action> </div>
                </div>

                <div class="teaser-box blue ansprechpartner" style="display: none;">
                    <h3>Noch Fragen?</h3>
                    <img src="/fileadmin/media/Ansprechpartner/Philipp-Benz-200x200.jpg" alt="Reiseberaterin Philipp Benz" style="width: 90px;"
                         class="img-circle pull-right">
                    <p>Unser Reiseberater Philipp Benz freut sich auf Ihren Anruf.<br></p>
                    <p class="lead" style="font-size: 16px; margin-bottom: 0px;"><span class="glyphicon glyphicon-phone"></span>
                        03831 30676-0</p>
                    <p style="margin-left: 20px; color: #8F938A;">
                        Mo - Fr 8 - 17 Uhr</p>
                    <p>
                        <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@mecklenburger-radtour.de">info@mecklenburger-radtour.de</a><br>
                    </p>
                </div>


                <div class="teaser-box blue ansprechpartner" style="display: none;">
                    <h3>Noch Fragen?</h3>
                    <img src="/fileadmin/media/Ansprechpartner/Doreen-Geisler-200x200.jpg" alt="Reiseberaterin Doreen Geisler" style="width: 90px;"
                         class="img-circle pull-right">
                    <p>Unsere Reiseberaterin Doreen Geisler freut sich auf Ihren Anruf.<br></p>
                    <p class="lead" style="font-size: 16px; margin-bottom: 0px;"><span class="glyphicon glyphicon-phone"></span>
                        03831 30676-0</p>
                    <p style="margin-left: 20px; color: #8F938A;">
                        Mo - Fr 8 - 17 Uhr</p>
                    <p>
                        <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@mecklenburger-radtour.de ">info@mecklenburger-radtour.de </a><br>
                    </p>
                </div>


                <div class="teaser-box blue ansprechpartner" style="display: none;">
                    <h3>Noch Fragen?</h3>
                    <img src="/fileadmin/media/Ansprechpartner/Jennifer-Stuewert-200x200.jpg" alt="Reiseberaterin Jennifer Stüwert" style="width: 90px;"
                         class="img-circle pull-right">
                    <p>Unsere Reiseberaterin Jennifer Stüwert freut sich auf Ihren Anruf.<br></p>
                    <p class="lead" style="font-size: 16px; margin-bottom: 0px;"><span class="glyphicon glyphicon-phone"></span>
                        03831 30676-0</p>
                    <p style="margin-left: 20px; color: #8F938A;">
                        Mo - Fr 8 - 17 Uhr</p>
                    <p>
                        <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@mecklenburger-radtour.de ">info@mecklenburger-radtour.de </a><br>
                    </p>
                </div>


                <div class="teaser-box blue ansprechpartner" style="display: none;">
                    <h3>Noch Fragen?</h3>
                    <img src="/fileadmin/media/Ansprechpartner/425-_175.jpg" alt="Reiseberaterin Nicole Glimm " style="width: 90px;"
                         class="img-circle pull-right">
                    <p>Unsere Reiseberaterin Nicole Glimm freut sich auf Ihren Anruf.<br></p>
                    <p class="lead" style="font-size: 16px; margin-bottom: 0px;"><span class="glyphicon glyphicon-phone"></span>
                        03831 30676-0</p>
                    <p style="margin-left: 20px; color: #8F938A;">
                        Mo - Fr 8 - 17 Uhr</p>
                    <p>
                        <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@mecklenburger-radtour.de">info@mecklenburger-radtour.de</a><br>
                    </p>
                </div>

                <script type="text/javascript">

                    var teaserboxen = $('.teaser-box.blue.ansprechpartner');
                    $(teaserboxen[randomNumberFromRange(0,(teaserboxen.length-1))]).show();

                    function randomNumberFromRange(min,max)
                    {
                        var randomNumber = Math.floor(Math.random()*(max-min+1)+min);

                        return randomNumber;
                    }
                </script>


                <!-- Akkordion -->

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <f:for each="{trip.infoboxes}" as="infobox">
                        <f:if condition="{infobox.asTab} == 0">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading{infobox.uid}">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapse{infobox.uid}" aria-expanded="false" aria-controls="collapse{infobox.uid}">
                                            {infobox.title}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{infobox.uid}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{infobox.uid}">
                                    <div class="panel-body">
                                        {infobox.content -> f:format.html()}
                                        <f:if condition="{infobox.title} == 'Leistungen'">
                                            <f:then>
                                                <p>Unsere Leistungen werden in den Sprachen Deutsch und Englisch kommuniziert.</p>
                                                <p><i>Nicht im Reisepreis enthaltene Kurtaxe, Citytax oder Kulturabgabe beträgt pro Person/Übernachtung 2,00-3,00 Euro, zahlbar vor Ort.</i></p>
                                            </f:then>
                                        </f:if>
                                    </div>
                                </div>
                            </div>
                        </f:if>
                    </f:for>
                </div>
                <script type="text/javascript">
                    window.setTimeout(function() {
                        $('#accordion a.collapsed:first').trigger('click');
                    }, 1000);
                </script>
            </div>

        </div>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <f:cObject typoscriptObjectPath="plugin.tx_reisedb.contentobjects" data="{trip.additionalInfo}" />
            </div>
        </div>

        <f:render partial="Trackingcodes" arguments="{trip:trip}"/>

</f:section>