{namespace m=JAKOTA\Reisedb\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
    <div class="row">
        <div class="col-md-1">
            <a href="{f:uri.action(action: 'show', arguments:{trip:trip})}" class="backButton" data-nohistory="1" data-toggle="tooltip" data-placement="top"
               title="{f:translate(key: 'back', default: '---')}">
                <div class="img-circle"
                     style="background: #E9EEE4; width: 44px; height: 44px; margin-top: 12px; text-align: center; padding-top: 10px; font-size: 18px;">
                    <div class="glyphicon glyphicon-menu-left"></div>
                </div>
            </a>
        </div>

        <div class="col-md-11">
            <h1>{review.title} <small>von {review.name}</small></h1>
            <p class="intro">Dieser Reisebericht bezieht sich auf folgende Reise:</p>
            <div class="well">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <f:if condition="{trip.images}">
                            <f:image width="600c" height="400c" src="{trip.images.0.originalResource.publicUrl}" alt="{trip.title}" class="img-responsive" title="{trip.seotitle}" />
                        </f:if>
                    </div>
                    <div class="col-md-8">
                        <h3 style="margin-top: 0px; color: #005077;">{trip.title}</h3>
                        <p>
                            <m:tripDays nights="{trip.nights}"/>
                            /
                            <m:LengthFormat><m:tripLength stations="{trip.stations}"/></m:LengthFormat>
                            /
                            <f:translate key="fromPrice" /> <m:PriceFormat><m:tripFromPrice trip="{trip}"/></m:PriceFormat>
                        </p>
                    </div>
                </div>
            </div>
            <p>{review.description -> f:format.nl2br()}</p>
            <div class="well">
                <div class="row">
                    <div class="col-md-12"><h2>Bewertungen</h2></div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-6"><p class="text-right">Gepäcktransport</p></div>
                    <div class="col-md-3 col-xs-6"><m:starRating>{review.ratingLuggage}</m:starRating></div>
                    <div class="col-md-3 col-xs-6"><p class="text-right">Reisebetreuung</p></div>
                    <div class="col-md-3 col-xs-6"><m:starRating>{review.ratingCare}</m:starRating></div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-6"><p class="text-right">Radqualität</p></div>
                    <div class="col-md-3 col-xs-6"><m:starRating>{review.ratingQuality}</m:starRating></div>
                    <div class="col-md-3 col-xs-6"><p class="text-right">Beratung</p></div>
                    <div class="col-md-3 col-xs-6"><m:starRating>{review.ratingConsultation}</m:starRating></div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-6"><p class="text-right">Reiseunterlagen</p></div>
                    <div class="col-md-3 col-xs-6"><m:starRating>{review.ratingDocuments}</m:starRating></div>
                    <div class="col-md-3 col-xs-6"><p class="text-right">Unterkunft</p></div>
                    <div class="col-md-3 col-xs-6"><m:starRating>{review.ratingHotels}</m:starRating></div>
                </div>
            </div>
            <f:if condition="{review.images}">
                <h2>Bilder</h2>
                <div class="row">
                    <f:for each="{review.images}" as="image">
                        <f:cycle values="{0: '', 1: '', 2: '', 3: '</div><div class=\'row\'>'}" as="break">
                        <div class="col-md-3"><p><a href="{f:uri.image(src:image.originalResource.publicUrl, width:'900')}" data-imagelightbox="t"><f:image width="600c" height="600c" src="{image.originalResource.publicUrl}" alt="" class="img-responsive"/></a></p></div>
                        {break -> f:format.raw()}
                        </f:cycle>
                    </f:for>
                </div>
            </f:if>
        </div>

    </div>
</f:section>