{namespace m=JAKOTA\Reisedb\ViewHelpers}
<f:layout name="SingleTrip"/>

<f:section name="default">
    <f:render partial="Trip/TeaserList" arguments="{trip:trip}"/>
</f:section>

<f:section name="link">
    <div class="list-group">
        <f:link.action action="show" pageUid="113" arguments="{trip : trip}" class="list-group-item">{trip.title} <span class="badge">{trip.code}</span></f:link.action>
    </div>
</f:section>

<f:section name="reiseteaser">
	<div class="reise_teaser full-width">
		<f:link.action action="show" pageUid="113" arguments="{trip : trip}" title="{trip.seotitle}">
            <f:if condition="{trip.images}">
                <f:image width="600c" height="400c" src="{trip.images.0.originalResource.publicUrl}" alt="{trip.title}" title="{trip.seotitle}" />
            </f:if>        
			<div class="reise_teaser_preis"><f:translate key="fromPrice" /> <span><m:PriceFormat><m:tripFromPrice trip="{trip}"/></m:PriceFormat>,-*</span></div>
			<h3>{trip.title} »</h3>
			<p class="subline"><span><m:tripDays nights="{trip.nights}"/> / <m:LengthFormat><m:tripLength stations="{trip.stations}"/></m:LengthFormat></span> {trip.code}</p>
			<p class="description"><f:format.crop maxCharacters="170" append="&nbsp;..." respectWordBoundaries="1"><f:format.stripTags>{trip.description}</f:format.stripTags></f:format.crop></p>
		</f:link.action>	 
	</div>    
</f:section>