<!-- ###TEMPLATE_FORM2### -->
<div class="container">
  <div class="row bs-wizard" style="border-bottom:0;">
    <div class="col-xs-3 bs-wizard-step complete">
      <div class="text-center bs-wizard-stepnum">###LLL:stepPersonalData###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step active"><!-- complete -->
      <div class="text-center bs-wizard-stepnum"><span>###LLL:stepArrival###</span></div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepParticipants###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepRoomSelection###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepVerification###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
  </div>
</div>
<br>

###master_form-start_booking2###
###hiddenfields###
<div class="container">
  <div class="row">
      <div class="col-md-2"></div>

    <div class="col-md-4">
      <div class="form-group ###is_error_arrival###">
        <script type="text/javascript">
          var bookableDates = ###bookableDatesJSON###;
          var bookableFirstDate = '###bookableFirstDate###';
          var bookableLastDate = '###bookableLastDate###';
        </script>
        <label class="###is_error_arrival###" for="arrival">###LLL:arrival### ###required_arrival###</label>
        <div id="bookingDatepicker" class="###is_error_arrival###"></div>
        <input style="display:none;" class="form-control" type="text" size="20" id="arrival" name="###formValuesPrefix###[arrival]" value="###value_arrival###"/>
        ###error_arrival###
        <p>
          <span class="glyphicon glyphicon-stop" style="color:#d3e9bc;"></span> ###LLL:descGreenDays###<br/>
          <span class="glyphicon glyphicon-stop" style="color:#f4d000;"></span> ###LLL:descYellowDays###<br/>
        </p>
      </div>
    </div>

    <div class="col-md-4">

      <div class="row" style="margin-top: 27px;">
        <div class="col-md-12">
          <div class="form-group ###is_error_numberOfPersons###">
            <label for="numberOfPersons" class="control-label" style="padding-top: 5px;">###LLL:numberOfPersons### ###required_numberOfPersons###</label>
            <select id="numberOfPersons" class="form-control select pull-right" style="width: 110px;" name="###formValuesPrefix###[numberOfPersons]">
              <option value="1" ###selected_numberOfPersons_1###>1</option>
              <option value="2" ###selected_numberOfPersons_2###>2</option>
              <option value="3" ###selected_numberOfPersons_3###>3</option>
              <option value="4" ###selected_numberOfPersons_4###>4</option>
              <option value="5" ###selected_numberOfPersons_5###>5</option>
              <option value="6" ###selected_numberOfPersons_6###>6</option>
              <option value="7" ###selected_numberOfPersons_7###>7</option>
              <option value="8" ###selected_numberOfPersons_8###>8</option>
              <option value="9" ###selected_numberOfPersons_9###>9</option>
              <option value="10" ###selected_numberOfPersons_10###>10</option>
              <option value="11" ###selected_numberOfPersons_11###>11</option>
              <option value="12" ###selected_numberOfPersons_12###>12</option>
              <option value="13" ###selected_numberOfPersons_13###>13</option>
              <option value="14" ###selected_numberOfPersons_14###>14</option>
              <option value="15" ###selected_numberOfPersons_15###>15</option>
              <option value="16" ###selected_numberOfPersons_16###>16</option>
              <option value="17" ###selected_numberOfPersons_17###>17</option>
              <option value="18" ###selected_numberOfPersons_18###>18</option>
              <option value="19" ###selected_numberOfPersons_19###>19</option>
              <option value="20" ###selected_numberOfPersons_20###>20</option>
            </select>
            ###error_numberOfPersons###
            ###validate_numberOfPersons###
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group ###is_error_numberOfChildren###">
            <label for="numberOfChildren" class="control-label" style="padding-top: 5px;">###LLL:numberOfChildren### ###required_numberOfChildren###</label>
            <select id="numberOfChildren" class="form-control select pull-right" style="width: 110px;" name="###formValuesPrefix###[numberOfChildren]">
              <option value="0" ###selected_numberOfChildren_0###>0</option>
              <option value="1" ###selected_numberOfChildren_1###>1</option>
              <option value="2" ###selected_numberOfChildren_2###>2</option>
              <option value="3" ###selected_numberOfChildren_3###>3</option>
              <option value="4" ###selected_numberOfChildren_4###>4</option>
              <option value="5" ###selected_numberOfChildren_5###>5</option>
              <option value="6" ###selected_numberOfChildren_6###>6</option>
              <option value="7" ###selected_numberOfChildren_7###>7</option>
              <option value="8" ###selected_numberOfChildren_8###>8</option>
              <option value="9" ###selected_numberOfChildren_9###>9</option>
              <option value="10" ###selected_numberOfChildren_10###>10</option>
              <option value="11" ###selected_numberOfChildren_11###>11</option>
              <option value="12" ###selected_numberOfChildren_12###>12</option>
              <option value="13" ###selected_numberOfChildren_13###>13</option>
              <option value="14" ###selected_numberOfChildren_14###>14</option>
              <option value="15" ###selected_numberOfChildren_15###>15</option>
              <option value="16" ###selected_numberOfChildren_16###>16</option>
              <option value="17" ###selected_numberOfChildren_17###>17</option>
              <option value="18" ###selected_numberOfChildren_18###>18</option>
              <option value="19" ###selected_numberOfChildren_19###>19</option>
              <option value="20" ###selected_numberOfChildren_20###>20</option>
            </select>
            <script type="text/javascript">
              $('#numberOfChildren').change(function() {
                var children = $(this).val();
                var persons = $('#numberOfPersons').val();
                if (children > persons) {
                  $('#numberOfPersons').val(children);
                }
              });
            </script>
            ###error_numberOfChildren###
            ###validate_numberOfChildren###
          </div>
        </div>
      </div>
      <div class="form-group ###is_error_travelBy###">
        <label for="travelBy" class="control-label" style="padding-top: 5px;">###LLL:travelBy### ###required_travelBy###</label>
        <select id="travelBy" class="form-control select pull-right" style="width: 110px;" name="###formValuesPrefix###[travelBy]">
          <option value="Auto" ###selected_travelBy_Auto###>###LLL:car###</option>
          <option value="Zug" ###selected_travelBy_Zug###>###LLL:train###</option>
          <option value="Flugzeug" ###selected_travelBy_Flugzeug###>###LLL:plane###</option>
        </select>
        ###error_travelBy###
        ###validate_travelBy###
      </div>

      <hr />

      <div class="form-group ###is_error_pricecategory###">
        <label class="control-label">###LLL:pricecategory### ###required_pricecategory###</label>
        ###error_pricecategory###
        ###pricecategories###
      </div>



      <hr />
    </div>

  </div>
  <hr />
  <div class="row">
    ###master_prev###
    ###master_next###
  </div>
</div>
###master_tracking_step2###
###master_form-end###
<!-- ###TEMPLATE_FORM2### -->
