<!-- ###TEMPLATE_FORM4### -->
<div class="container">
  <div class="row bs-wizard" style="border-bottom:0;">
    <div class="col-xs-3 bs-wizard-step complete">
      <div class="text-center bs-wizard-stepnum">###LLL:stepPersonalData###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepArrival###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepParticipants###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step active"><!-- complete -->
      <div class="text-center bs-wizard-stepnum"><span>###LLL:stepRoomSelection###</span></div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepVerification###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
  </div>
</div>
<br>

###master_form-start_booking4###
<input class="form-control" type="hidden" size="20" id="roomcount" name="###formValuesPrefix###[roomcount]" value="1">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">###rooms###</div>
</div>

<div class="form-group ###is_error_roomcount###">###error_roomcount###</div>

  <hr />
  <div class="row">
    ###master_prev###
    ###master_next###
  </div>

###master_tracking_step4###
###master_form-end###
<!-- ###TEMPLATE_FORM4### -->
