<!-- ###TEMPLATE_FORM3### -->
<div class="container">
  <div class="row bs-wizard" style="border-bottom:0;">
    <div class="col-xs-3 bs-wizard-step complete">
      <div class="text-center bs-wizard-stepnum">###LLL:stepPersonalData###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepArrival###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step active"><!-- complete -->
      <div class="text-center bs-wizard-stepnum"><span>###LLL:stepParticipants###</span></div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepRoomSelection###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepVerification###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
  </div>
</div>
<br>

###master_form-start_booking3###
###hiddenfields###


<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">  ###participants###</div>
</div>


  <hr />

  <div class="row">
    ###master_prev###
    ###master_next###
  </div>
###master_tracking_step3###
###master_form-end###
<!-- ###TEMPLATE_FORM3### -->
