<!-- ###TEMPLATE_FORM5### -->
<div class="container">
  <div class="row bs-wizard" style="border-bottom:0;">
    <div class="col-xs-2 bs-wizard-step complete">
      <div class="text-center bs-wizard-stepnum">###LLL:stepPersonalData###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepArrival###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepParticipants###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
      <div class="text-center bs-wizard-stepnum"><span>###LLL:stepRoomSelection###</span></div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step active"><!-- complete -->
      <div class="text-center bs-wizard-stepnum"><span>###LLL:stepEventPackage###</span></div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepVerification###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
  </div>
</div>
<br>

###master_form-start_booking5###
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <p>Sie können folgende Erlebnispakete zu Ihrer Reise dazubuchen:</p>
    ###eventPackageForm###
  </div>
</div>


<hr />
<div class="row">
  ###master_prev###
  ###master_next###
</div>
###master_tracking_stepEventPackage###
###master_form-end###
<!-- ###TEMPLATE_FORM5### -->
