<!-- ###TEMPLATE_FORM1### -->
<div class="container">
	<div class="row bs-wizard" style="border-bottom:0;">
		<div class="col-xs-2 bs-wizard-step active">
			<div class="text-center bs-wizard-stepnum"><span>###LLL:stepPersonalData###</span></div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
		</div>
		<div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
			<div class="text-center bs-wizard-stepnum"><span>###LLL:stepArrival###</span></div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
		</div>
		<div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
			<div class="text-center bs-wizard-stepnum"><span>###LLL:stepParticipants###</span></div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
		</div>
		<div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
			<div class="text-center bs-wizard-stepnum"><span>###LLL:stepRoomSelection###</span></div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
		</div>
		<div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
			<div class="text-center bs-wizard-stepnum"><span>###LLL:stepEventPackage###</span></div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
		</div>
		<div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
			<div class="text-center bs-wizard-stepnum"><span>###LLL:stepVerification###</span></div>
			<div class="progress"><div class="progress-bar"></div></div>
			<a href="#" class="bs-wizard-dot"></a>
		</div>
	</div>
</div>
<br>

###master_form-start_booking1###
###hiddenfields###
<input type="hidden" name="###formValuesPrefix###[code]" value="###code###" />
<input type="hidden" name="###formValuesPrefix###[nights]" value="###nights###" />
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">###master_input_firstname###</div>
		<div class="col-md-4">###master_input_lastname###</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">###master_input_address###</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-2">###master_input_postcode###</div>
		<div class="col-md-6">###master_input_city###</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">###master_input_country###</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">###master_input_phone###</div>
		<div class="col-md-4">###master_input_fax###</div>

	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">###master_input_email###</div>

	</div>
  <div class="checkbox ###is_error_veranstalter###" >
	  ###error_veranstalter###
    <label class="###is_error_veranstalter###">
      <input type="checkbox" name="booking[veranstalter]" class="###is_error_veranstalter###" value="yes"> ###LLL:veranstalter###
    </label>
  </div>
  <div class="checkbox ###is_error_versicherung###" >
	  ###error_versicherung###
    <label class="###is_error_versicherung###">
      <input type="checkbox" name="booking[versicherung]" class="###is_error_versicherung###" value="yes"> ###LLL:versicherung###
    </label>
  </div>
	<hr />
	<div class="row">
		###master_next###
	</div>
</div>
###master_tracking_step1###
###master_form-end###
<!-- ###TEMPLATE_FORM1### -->
