<!-- ###TEMPLATE_FORM1### -->
<h1>PDF-TEST</h1>
###master_form-start_booking###
<input type="hidden" name="booking[firstname]" value="Martin"/>

<input type="hidden" name="booking[lastname]" value="Fünning"/>

<input type="hidden" name="booking[address]" value="Theodor-Strom-Str. 9"/>

<input type="hidden" name="booking[postcode]" value="18106"/>

<input type="hidden" name="booking[city]" value="Rostock"/>

<input type="hidden" name="booking[country]" value=""/>

<input type="hidden" name="booking[phone]" value="01749165411"/>

<input type="hidden" name="booking[email]" value="martin.fuenning@gmail.com"/>

<input type="hidden" name="booking[fax]" value=""/>

<input type="hidden" name="booking[arrival]" value="29.11.2015"/>

<input type="hidden" name="booking[numberOfPersons]" value="3"/>

<input type="hidden" name="booking[numberOfChildren]" value="1"/>

<input type="hidden" name="booking[travelBy]" value="Auto"/>

<input type="hidden" name="booking[pricecategory]" value="1"/>

<input type="hidden" name="booking[participant1firstname]" value="Martin"/>

<input type="hidden" name="booking[participant1lastname]" value="Fünning"/>

<input type="hidden" name="booking[participant1birthday]" value=""/>

<input type="hidden" name="booking[participant1address]" value="Theodor-Strom-Str. 9"/>

<input type="hidden" name="booking[participant1postcode]" value="18106"/>

<input type="hidden" name="booking[participant1city]" value="Rostock"/>

<input type="hidden" name="booking[participant1country]" value=""/>

<input type="hidden" name="booking[participant1rentalbikeq]" value="no"/>

<input type="hidden" name="booking[participant1rentalbiketype]" value="20534"/>

<input type="hidden" name="booking[participant1rentalbikesex]" value="Herrenrad"/>

<input type="hidden" name="booking[participant1rentalbikegear]" value="24gang"/>

<input type="hidden" name="booking[participant1rentalbikeheight]" value=""/>

<input type="hidden" name="booking[participant2firstname]" value="Mandy"/>

<input type="hidden" name="booking[participant2lastname]" value="Hoier"/>

<input type="hidden" name="booking[participant2birthday]" value=""/>

<input type="hidden" name="booking[participant2address]" value=""/>

<input type="hidden" name="booking[participant2postcode]" value=""/>

<input type="hidden" name="booking[participant2city]" value=""/>

<input type="hidden" name="booking[participant2country]" value=""/>

<input type="hidden" name="booking[participant2rentalbikeq]" value="yes"/>

<input type="hidden" name="booking[participant2rentalbiketype]" value="20534"/>

<input type="hidden" name="booking[participant2rentalbikesex]" value="Damenrad"/>

<input type="hidden" name="booking[participant2rentalbikegear]" value="7gang"/>

<input type="hidden" name="booking[participant2rentalbikeheight]" value="156"/>

<input type="hidden" name="booking[participant3firstname]" value="Jan"/>

<input type="hidden" name="booking[participant3lastname]" value="Fünning"/>

<input type="hidden" name="booking[participant3birthday]" value="03.05.2015"/>

<input type="hidden" name="booking[participant3address]" value=""/>

<input type="hidden" name="booking[participant3postcode]" value=""/>

<input type="hidden" name="booking[participant3city]" value=""/>

<input type="hidden" name="booking[participant3country]" value=""/>

<input type="hidden" name="booking[participant3rentalbikeq]" value="no"/>

<input type="hidden" name="booking[participant3rentalbiketype]" value="20534"/>

<input type="hidden" name="booking[participant3rentalbikesex]" value="Herrenrad"/>

<input type="hidden" name="booking[participant3rentalbikegear]" value="24gang"/>

<input type="hidden" name="booking[participant3rentalbikeheight]" value=""/>

<input type="hidden" name="booking[roomcount]" value="3"/>

<input type="hidden" name="booking[roomcount2]" value="1"/>

<input type="hidden" name="booking[roomperson21bed1]" value="1"/>

<input type="hidden" name="booking[roomperson21bed2]" value="2"/>

<input type="hidden" name="booking[roomperson21bedaddtional]" value="3"/>

<input type="hidden" name="booking[roomcount1]" value="0"/>
<input type="hidden" name="generatePDF" value="1"/>
<div class="row">
    ###master_next###
</div>
###pdfUrl###
###master_form-end###
<!-- ###TEMPLATE_FORM1### -->

<!-- ###TEMPLATE_SUBMITTEDOK### -->
<a href="###pdfUrl###" target="_blank">###pdfUrl###</a>
<!-- ###TEMPLATE_SUBMITTEDOK### -->