<!-- ###TEMPLATE_FORM6### -->
<div class="container">
  <div class="row bs-wizard" style="border-bottom:0;">
    <div class="col-xs-2 bs-wizard-step complete">
      <div class="text-center bs-wizard-stepnum">###LLL:stepPersonalData###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepArrival###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepParticipants###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">###LLL:stepRoomSelection###</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
      <div class="text-center bs-wizard-stepnum"><span>###LLL:stepEventPackage###</span></div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
    <div class="col-xs-2 bs-wizard-step active"><!-- active -->
      <div class="text-center bs-wizard-stepnum"><span>###LLL:stepVerification###</span></div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
    </div>
  </div>
</div>
<br>



<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">


    ###master_form-start_bookingfinal###
    <input type="hidden" name="###formValuesPrefix###[betcode]" value="###value_code###" />
    <input type="hidden" name="###formValuesPrefix###[betfirstname]" value="###value_firstname###" />
    <input type="hidden" name="###formValuesPrefix###[betlastname]" value="###value_lastname###" />
    <hr />
    ###conclusion###
    <hr />
    ###master_textarea_message###
    <hr />
    <div class="checkbox ###is_error_agb###">
      ###error_agb###
      <label class="###is_error_agb###">
        <input type="checkbox" name="booking[agb]" class="###is_error_agb###" value="yes"> <strong>###LLL:reisebedinungenHeader1### <a href="###reisebedinungenlink###" target="_blank">###LLL:reisebedinungenHeader2###</a> ###LLL:reisebedinungenHeader3###</strong><br />
        ###LLL:reisebedinungenText###
      </label>
    </div>
    <div class="checkbox">
      <label class="">
        <input type="checkbox" name="booking[review]" class="" value="yes"> ###LLL:doReview###
      </label>
    </div>
	
  <div class="checkbox ###is_error_datenschutz###" >
	  ###error_datenschutz###
    <label class="###is_error_datenschutz###">
      <input type="checkbox" name="booking[datenschutz]" class="###is_error_datenschutz###" value="yes"> ###LLL:datenschutz###
    </label>
  </div>
    <input type="hidden" name="booking[sumPrice]" value="###bookingPrice###">
  </div>

  <div class="col-md-2"></div>
</div>
</div> <!-- Irgendwo hier ist etwas faul - dieses schliessende DIV macht alles wieder gut und wird aber hier irgendwo im Verborgenden geöffnet-->



<hr />

  <div class="row">
    ###master_prev###
    ###master_finish###
  </div>
###master_tracking_step5###
###master_form-end###
<!-- ###TEMPLATE_FORM6### -->

<!-- ###TEMPLATE_SUBMITTEDOK### -->
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="text-center">###LLL:thankyou###</h2>

      <p class="text-center">###LLL:thankyouText1###</p>

      <p>&nbsp;</p>

      <p class="text-center"><a href="###pdfUrl###" target="_blank" class="btn btn-primary btn-lg"><span
              class="mrt-download"></span> ###LLL:downloadpdf###</a></p>

      <p>&nbsp;</p>

      <div class="row">
        <div class="col-sm-4">
          <p class="text-center">
						<span style="background:#abd481; display: inline-block; color:white; font-size:40px; border-radius:500px; padding:30px;">
							<span class="mrt-print" style=""></span>
						</span><br/><br/>
            <strong>1. ###LLL:pdfprint###</strong><br/><br/>
          </p>
        </div>
        <div class="col-sm-4">
          <p class="text-center">
						<span style="background:#abd481; display: inline-block; color:white; font-size:40px; border-radius:500px; padding:30px;">
							<span class="mrt-sign" style=""></span>
						</span><br/><br/>
            <strong>2. ###LLL:pdfsign###</strong><br/><br/>
          </p>
        </div>
        <div class="col-sm-4">
          <p class="text-center">
						<span style="background:#abd481; display: inline-block; color:white; font-size:40px; border-radius:500px; padding:30px;">
							<span class="mrt-send" style=""></span>
						</span><br/><br/>
            <strong>3. ###LLL:pdfsend###</strong><br/>
          </p>
        </div>
      </div>
      <p class="text-center">###LLL:thankyouText2###</p>

      <p class="text-center">###LLL:thankyouText3###</p>

      <p class="text-center">Die Mecklenburger Radtour GmbH<br/>
        Zunftstr. 4<br/>
        18437 Stralsund<br/>GERMANY</p>

      <div class="formFrame">
        <div class="row">
          <div class="col-md-8">
            <h2>###LLL:tripinsuranceHeading###</h2>

            <p>###LLL:tripinsuranceText###</p>
          </div>
          <div class="col-md-4">
            <div class="hidden-xs hidden-sm" style="height:70px;"></div>
            <p class="text-right"><a
                    href="https://www.reiseversicherung.de/vrv/partner/ep-Assistent.html?/ctrl/state=dtl-start&/data/agent/hagtnr=062240&/data/agent/nagtnr=000000"
                    target="_blank" class="btn btn-default"><span
                    class="glyphicon glyphicon-chevron-right"></span> ###LLL:tripinsuranceButton###</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
###master_tracking_final###
<!-- ###TEMPLATE_SUBMITTEDOK### -->
