<!-- ###TEMPLATE_EMAIL_USER_PLAIN### -->
###LLL:mailTextField###
<!-- ###TEMPLATE_EMAIL_USER_PLAIN### -->

<!-- ###TEMPLATE_EMAIL_USER_HTML### -->
<table style="background:#E9EEE4;">
    <tr>
        <td colspan="3" style="text-align: center;">
            <br><br>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: center;">
            <h1 style="color:#005077; font-family: arial, 'lucida console', sans-serif; font-size:28px; text-align: center;">###LLL:thankyou###</h1>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: center;">
            <p style="color:#333; font-family: arial, 'lucida console', sans-serif; font-size:14px; text-align: center;">###LLL:mailText###</p>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: center;">
            <br><br>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <img src="###embed_print###" />
        </td>
        <td style="text-align: center;">
            <img src="###embed_sign###" />
        </td>
        <td style="text-align: center;">
            <img src="###embed_send###" />
        </td>
    </tr>
    <tr>
        <td style="text-align: center; color:#333; font-family: arial, 'lucida console', sans-serif; font-size:14px;">
            <strong>1. ###LLL:pdfprint###</strong>
        </td>
        <td style="text-align: center; color:#333; font-family: arial, 'lucida console', sans-serif; font-size:14px;">
            <strong>2. ###LLL:pdfsign###</strong>
        </td>
        <td style="text-align: center; color:#333; font-family: arial, 'lucida console', sans-serif; font-size:14px;">
            <strong>3. ###LLL:pdfsend###</strong>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: center;">
            <br><br>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: center;">
            <p style="color:#333; font-family: arial, 'lucida console', sans-serif; font-size:14px; text-align: center;">###LLL:mailAddress###</p>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: center;">
            <br><br>
        </td>
    </tr>
</table>
<!-- ###TEMPLATE_EMAIL_USER_HTML### -->

