<!-- ###TEMPLATE_FORM1### -->
###master_form-start_review###
###tripLink###
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-6">###master_input_name###</div>
                <div class="col-md-6">###master_input_email###</div>
            </div>
            <div class="row">
                <div class="col-md-12">###master_input_topic###</div>
            </div>
            <div class="row">
                <div class="col-md-12">###master_textarea_content###</div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">

        <div class="col-md-10 col-md-offset-1 rating">
            <div class="row">
                <div class="col-md-12"><label>###LLL:ratings###</label><br /><br /></div>
            </div>
            <div class="row">
                <div class="col-md-6">###master_rating_luggage###</div>
                <div class="col-md-6">###master_rating_care###</div>
            </div>
            <div class="row">
                <div class="col-md-6">###master_rating_quality###</div>
                <div class="col-md-6">###master_rating_consultation###</div>
            </div>
            <div class="row">
                <div class="col-md-6">###master_rating_documents###</div>
                <div class="col-md-6">###master_rating_hotels###</div>
            </div>
        </div>
    </div>
    <hr />
    <!--<div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-12"><label>###LLL:images###</label><br /><br /></div>
            </div>
            <div class="row">
                <div class="col-md-12" id="dropFiles">
                    <div id="actions" class="row">

                        <div class="col-md-3">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                          <!--  <span class="btn btn-success btn-block fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>###LLL:addImages###</span>
                            </span>
                        </div>

                        <div class="col-md-9">
                                                <!-- The global file processing state -->
                          <!--  <span class="fileupload-process">
                              <div id="total-progress" style="height: 18px; margin-top: 8px; opacity: 0;" class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                  <div class="progress-bar progress-bar-success" style="min-width: 2em;" data-dz-uploadprogress>0%</div>
                              </div>
                            </span>
                        </div>
                    </div>

                    <div class="row" id="previews">
                        <div class="col-xs-6 col-md-3 unfinished previewElement" id="template">
                            <img data-dz-thumbnail class="img-responsive" />
                            <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                            </div>
                            <button data-dz-remove class="btn btn-danger btn-xs btn-block delete">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>Delete</span>
                            </button>
                        </div>
                    </div>
                    <input type="hidden" name="review[trip]" value="###tripUid###" />
                    <input type="hidden" name="review[images]" id="imageStore" />
                    <script type="text/javascript">
                        $(document).ready(function() {
                            var previewNode = document.querySelector("#template");
                            previewNode.id = "";
                            var previewTemplate = previewNode.parentNode.innerHTML;
                            previewNode.parentNode.removeChild(previewNode);

                            var dropzoneElement = $('#dropFiles').get();
                            dropzoneElement = dropzoneElement[0];
                            var myDropzone = new Dropzone(dropzoneElement, {
                                url: "/doUpload/",
                                thumbnailWidth: 400,
                                thumbnailHeight: 400,
                                parallelUploads: 4,
                                acceptedFiles: 'image/*',
                                previewTemplate: previewTemplate,
                                autoQueue: true,
                                previewsContainer: "#previews",
                                clickable: ".fileinput-button"
                            });

                            myDropzone.on("addedfile", function(file) {

                               /* file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); }; */
                            });

                            myDropzone.on("totaluploadprogress", function(progress) {
                                document.querySelector("#total-progress").style.opacity = "1";
                                document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
                                document.querySelector("#total-progress .progress-bar").innerHTML = parseInt(progress) + "%";
                            });

                            myDropzone.on("sending", function(file) {
                                document.querySelector("#total-progress").style.opacity = "1";
                                /* file.previewElement.querySelector(".start").setAttribute("disabled", "disabled"); */
                            });

                            myDropzone.on('success', function(file, response) {
                                $(file.previewElement).removeClass('unfinished').addClass('finished');
                                if (response.length > 0) {
                                    $(file.previewElement).data('file', response);
                                }
                            });

                            myDropzone.on("queuecomplete", function(progress) {
                                document.querySelector("#total-progress").style.opacity = "0";
                            });


                            $('#review').submit(function() {
                                var files = [];
                                $('.previewElement').each(function() {
                                    var file = $(this).data('file');
                                    if (file.length > 0) {
                                        files.push(file);
                                    }
                                });

                                $('#imageStore').val(files.join(','));
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <hr />-->
	<div>
    ###master_section-start###
    	###master_checkbox_datenschutz###
  	###master_section-end###
	</div>
    <div class="row">
        <div class="col-md-12">###master_submitreview###</div>
    </div>
</div>
###master_form-end###
<!-- ###TEMPLATE_FORM1### -->

<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->
Sehr geehrte Damen und Herren,
soeben wurde eine Reise bewertet.

Reise: ###tripName###

Name: ###value_name###
E-Mail: ###value_email###

###value_topic###
--------------------------------------
###value_content###

Bewertungen
--------------------------------------
Gepäcktransport: ###value_luggage###
Reisebetreuung: ###value_care###
Radqualität: ###value_quality###
Beratung: ###value_consultation###
Reiseunterlagen: ###value_documents###
Unterkunft: ###value_hotels###

Bitte schalten Sie die Bewertung in der Reise nach Prüfung frei.
<!-- ###TEMPLATE_EMAIL_ADMIN_PLAIN### -->

<!-- ###TEMPLATE_EMAIL_USER_PLAIN### -->

<!-- ###TEMPLATE_EMAIL_USER_PLAIN### -->

<!-- ###TEMPLATE_SUBMITTEDOK### -->
<h1>Vielen Dank für Ihre Bewertung</h1>
<p>Nach einer Prüfung Ihrer Daten werden wir Ihren Bericht auf unserer Website veröffentlichen.</p>
<p>Ihre Angaben werden wir gemäß unserer <a href="https://www.mecklenburger-radtour.de/allgemein/datenschutz.html">Datenschutzerklärung</a> ausschließlich für diese Bewertung verarbeiten. Es wird nur der Bewertungstext veröffentlicht, nicht aber Ihre persönlichen Angaben, wie Name oder E-Mail-Adresse.</p>
###tripLink###
<!-- ###TEMPLATE_SUBMITTEDOK### -->
