<!-- ###master_tracking_step1### -->
<script type="text/javascript">
    $(document).ready(function() {
        _gaq.push(['_trackPageview','/st1']);
        _gaq.push(['t2._trackPageview','/st1']);
    });
</script>
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    window._adftrack = {
        pm: 550843,
        divider: encodeURIComponent('|'),
        pagename: encodeURIComponent('Buchung - Ihre Buchungsanfrage')
    };
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm=550843&ADFPageName=Buchung%20-%20Ihre%20Buchungsanfrage&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->
<!-- ###master_tracking_step1### -->

<!-- ###master_tracking_step2### -->
<script type="text/javascript">
    $(document).ready(function() {
        _gaq.push(['_trackPageview','/st2']);
        _gaq.push(['t2._trackPageview','/st2']);
    });
</script>
<!-- ###master_tracking_step2### -->

<!-- ###master_tracking_step3### -->
<script type="text/javascript">
    $(document).ready(function() {
        _gaq.push(['_trackPageview','/st3']);
        _gaq.push(['t2._trackPageview','/st3']);
    });
</script>
<!-- ###master_tracking_step3### -->

<!-- ###master_tracking_step4### -->
<script type="text/javascript">
    $(document).ready(function() {
        _gaq.push(['_trackPageview','/st4']);
        _gaq.push(['t2._trackPageview','/st4']);
    });
</script>
<!-- ###master_tracking_step4### -->

<!-- ###master_tracking_step5### -->
<script type="text/javascript">
    $(document).ready(function() {
        _gaq.push(['_trackPageview','/st5']);
        _gaq.push(['t2._trackPageview','/st5']);
    });
</script>
<!-- ###master_tracking_step5### -->

<!-- ###master_tracking_final### -->
<script type="text/javascript">
    $(document).ready(function() {
        _gaq.push(['_trackPageview','/st6']);
        _gaq.push(['t2._trackPageview','/st6']);

        _gaq.push(['_addTrans',
            '1234',
            'MRT',
            '###bookingPrice###',
        ]);
    ###bookingTracking###
    _gaq.push(['_trackTrans']);

        _gaq.push(['t2._addTrans',
            '1234',
            'MRT',
            '###bookingPrice###',
        ]);
    ###bookingTrackingT2###
    _gaq.push(['t2._trackTrans']);

    });
</script>
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1072303960;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "OpFqCPvokAIQ2J6o_wM";
    var google_conversion_value = 0;
    if (600) {
        google_conversion_value = 600;
    }
    /* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<!-- Adform Tracking Code BEGIN -->
<script type="text/javascript">
    window._adftrack = {
        pm: 550843,
        divider: encodeURIComponent('|'),
        pagename: encodeURIComponent('Buchung - Bestaetigung')
    };
    (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
</script>
<noscript>
    <p style="margin:0;padding:0;border:0;">
        <img src="https://track.adform.net/Serving/TrackPoint/?pm=550843&ADFPageName=Buchung%20-%20Bestaetigung&ADFdivider=|" width="1" height="1" alt="" />
    </p>
</noscript>
<!-- Adform Tracking Code END -->
<!-- ###master_tracking_final### -->