.dateGroupApp {
    width:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.month {
    height: 187px;
    background: none;
    float:left;
    margin:12px;
}

.month .monthTitle {
    background: none;
    display: block;
    padding: 3px 4px;
    cursor:pointer;
}

.month .day {
    display: block;
    width: 23px;
    text-align: center;
    padding: 2px 0px;
    float: left;
}

.month .day.title {
    background: none;
    border-top: 1px solid #333333;
    padding: 2px;
    cursor:pointer;
}

.month .day.filler {
    padding: 2px;
}

.halfTone {
    opacity: 0.5 !important;
}

.month .day.border {
    border: 1px solid #cccccc;
    margin: 1px;
}

.month .group0,
.month .group1,
.month .group2,
.month .group3,
.month .group4,
.month .group5 {
    -webkit-transition: background 400ms ease; /* Firefox */
    -moz-transition: background 400ms ease; /* WebKit */
    -o-transition: background 400ms ease; /* Opera */
    transition: background 400ms ease; /* Standard */
    cursor:pointer;
}

.month .day.border:hover {
    border: 1px solid #333333;
    margin: 1px;
}

.month .day.borderHover {
    border: 1px solid #333333;
    margin: 1px;
}

.month .day.workday {
    color:#333333;
}

.month .day.weekend {
    color: #ad0c10;
}

.clearFix {
    clear:both;
}

.arc {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #CCC;
    vertical-align: text-bottom;
    margin-right: 5px;
}

.btn.active, .btn.active:focus, .btn.active:active, .btn.active:hover {
    outline: 3px solid #333 !important;
    background:#eeeeee;
    border:none;
}

.btn, .btn:focus, .btn:active, .btn:hover {
    outline: 1px solid #ccc !important;
    background:#eeeeee;
    border:none;
}

.month .group0, .arc.group0 { background: rgba(255, 90, 95, 0.0); }
.month .group3, .arc.group3 { background: rgba(255, 90, 95, 0.47); }
.month .group2, .arc.group2 { background: rgba(255, 244, 49, 0.46); }
.month .group1, .arc.group1 { background: rgba(114, 255, 69, 0.46); }
.month .group4, .arc.group4 { background: rgba(81, 255, 252, 0.46); }
.month .group5, .arc.group5 { background: rgba(75, 77, 255, 0.46); }



@keyframes animationFrames{
    0% { opacity:1; }
    50% { opacity:0.5; }
    100% { opacity:1; }
}

@-moz-keyframes animationFramesMoz{
    0% { opacity:1; }
    50% { opacity:0.5; }
    100% { opacity:1; }
}

@-webkit-keyframes animationFramesWebkit {
    0% { opacity:1; }
    50% { opacity:0.5; }
    100% { opacity:1; }
}

@-o-keyframes animationFramesO {
    0% { opacity:1; }
    50% { opacity:0.5; }
    100% { opacity:1; }
}

@-ms-keyframes animationFramesMs {
    0% { opacity:1; }
    50% { opacity:0.5; }
    100% { opacity:1; }
}

.groupWait {
    background: rgba(116, 116, 116, 0.46) !important;
    animation: animationFrames linear 200ms;
    animation-iteration-count: infinite;
    -webkit-animation: animationFramesWebkit linear 200ms;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: animationFramesMoz linear 200ms;
    -moz-animation-iteration-count: infinite;
    -o-animation: animationFramesO linear 200ms;
    -o-animation-iteration-count: infinite;
    -ms-animation: animationFramesMs linear 200ms;
    -ms-animation-iteration-count: infinite;
}