@font-face {
    font-family: 'mrt';
    src: url('../font/mrt.eot?99584634');
    src: url('../font/mrt.eot?99584634#iefix') format('embedded-opentype'),
    url('../font/mrt.woff2?99584634') format('woff2'),
    url('../font/mrt.woff?99584634') format('woff'),
    url('../font/mrt.ttf?99584634') format('truetype'),
    url('../font/mrt.svg?99584634#mrt') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mrt';
    src: url('../font/mrt.svg?99584634#mrt') format('svg');
  }
}
*/

[class^="mrt-"]:before, [class*=" mrt-"]:before {
    font-family: "mrt";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.mrt-download:before { content: '\e800'; } /* '' */
.mrt-send:before { content: '\e801'; } /* '' */
.mrt-sign:before { content: '\e802'; } /* '' */
.mrt-print:before { content: '\e803'; } /* '' */