.tripHeader {
    position: fixed;
    background: #FFF;
    width: 100%;
    top: -120px;
    -webkit-box-shadow: 0px -5px 24px 12px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px -5px 24px 12px rgba(0,0,0,0.21);
    box-shadow: 0px -5px 24px 12px rgba(0,0,0,0.21);
    -webkit-transition: top 1s;
    transition: top 1s;
}

.tripHeader.show {
    top: 68px;
}

.tripHeader h2 {
    margin: 0;
    margin-bottom:8px;
}

@media (min-width: 992px) {
    .tripHeader h2 {
        margin: 0;
    }
}

.tripHeader .btn {
    width: 100%;
}

.tripHeader .container {
    padding-top:8px;
    padding-bottom:8px;
}